@font-face {
  font-family: 'AmericanTypewriter';
  src: url('../fonts/AmericanTypewriter.tff');
  src: local('../fonts/AmericanTypewriter.tff');
}

body{
  font-family: 'Helvetica Neue'
}

.navbar{
  border: none;
  border-radius: 0px;
}

.navbar-top{
  padding-top: 1rem;
  margin-bottom: 0px;
  background-color: white;
  min-height: 7rem;
}

.navbar-bottom{
  background-color: #ED1C24;
  min-height: 0.5rem !important;
}

.navbar-bottom .navbar-brand{
  color: white;
}

.navbar-right{
  margin-right: 10vw !important;
}

.navbar-top .navbar-brand{
  color: black;
}

.navbar-brand{
  margin-left: 10vw !important;
  font-size: 25px;
}

.navbar-default .navbar-nav{
   font-size: 20px;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      color: #ED1C24;
      background: white;
 }
