@font-face {
  font-family: 'American Typewriter';
  src: url('static/fonts/AmericanTypewriter.tff');
  src: local('static/fonts/AmericanTypewriter.tff');
}

@font-face {
  font-family: 'American Typewriter Bold';
  src: url('static/fonts/AmericanTypewriter-Bold.tff');
  src: local('static/fonts/AmericanTypewriter-Bold.tff');
}

body{
  font-family: 'Helvetica Neue';
}

.navbar{
  border: none;
  border-radius: 0px;
  font-family: 'American Typewriter';
}

.navbar-logo{
  height: 1.2em;
  margin: 1em 0 1em;
}

.navbar-top{
  padding-top: 1rem;
  margin-bottom: 0px;
  background-color: white;
  min-height: 7rem;
}

.navbar-bottom{
  background-color: #ED1C24;
  min-height: 0.5rem !important;
}

.navbar-bottom .navbar-brand{
  color: white;
}

.navbar-right{
  margin-right: 10vw !important;
}

.navbar-top .navbar-brand{
  color: black;
}

.navbar-brand{
  font-size: 25px;
  font-weight: bold;
}

.navbar-header{
  margin-left: 8.33333333% !important;
}

.navbar-default .navbar-nav{
   font-size: 20px;
 }
 .navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:hover,
 .navbar-default .navbar-nav > .active > a:focus {
      color: #ED1C24;
      background: white;
 }
