.category-image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
  background: #8D8478;
}
.category-image img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: 100%;
}

.category-description{
  width: 100%;
  max-width: 50rem;
  margin-bottom: 2rem;
}

.category-content{
  min-height: 12rem;
  overflow: hidden;
  line-height: 1.5rem;
}

.category-content h3{
  word-wrap: break-word;
  margin: 0.5rem 0 0.5rem;
  font-size: 21px;
}

.category-cover-image{
  overflow: hidden;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.no-top-margin{
  margin-top: 0px;
}

.top-margin{
  margin-top: 2rem;
}

.category-seperator{
  height: 3px;
  color: black;
  background-color: black;
}

.categories-tags{
  overflow: auto;
}

.category-tag{
  float: left;
  color: white;
  background-color: #ED1C24;
  border-radius: 5px;
  padding: 4px;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.category-tag:hover{
  background-color: black;
}
.category-tag a{
  color: white;
  text-decoration: none;
}
