.category-image{
    position:relative;
    overflow:hidden;
    padding-bottom:100%;
    background: #8D8478;
}
.category-image img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: 100%;
}

.category-description{
  width: 100%;
  max-width: 50rem;
  margin-bottom: 2rem;
}
