.cover-image{
  width: 100%;
  height: 100%;
  max-height: 30rem;
}

.resource-box{
  background-color: #C2C1B8;
  height: 30rem;
  overflow: hidden;
}

.resource-box a{
  color: black;
}
.resource-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.resource-item {
  margin-bottom: 20px;
}

.resource-link {
  word-wrap: break-word;
}

.resource-link:hover {
  color: white !important;
}

.resource-box .resource-action {
    font-size: 3rem;
}

.resource-box p {
    font-size: 1.2rem;
}

.resource-icon{
  font-size: 3.25rem !important;
  width: 1.3em;
}

.resource-action:hover{
  color: white;
}

.summernote-container p{
  font-size: 14px;
}

i {
    color: inherit;
    padding: 0 5px 0 5px;
    vertical-align: middle !important;
}

iframe {
  width: 100%;
}
