{% load toolstags %}
{% load partition_slice %}
{% load commontags %}

<div class="category-groups">
    <div class="categories row flex-wrapper"> 
        {% for category in categories %}
             
                    <div class="category col-md-3 col-xs-6">
                        <a href="{% url 'tools:show_category' category.id %}">
                            <div class="category-image">
                                {% if category.cover_image %}
                                    <img src="{{ category.cover_image.url }}" />
                                {% else %}
                                    <!--<img src="empty-image-here" />-->
                                {% endif %}
                                {% if category.published == False %}
                                    <div class="unpublished-banner">
                                        <span>UNPUBLISHED</span>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                        <div class="category-content">
                            <a href="{% url 'tools:show_category' category.id %}"><h3>{{ category.title|truncatechars:40 }}</h3></a>
                            <p>{{ category.description|bleach_striptags|truncatechars:70 }}</p>
                        </div>
                    </div>
                {% empty %}
                    <div class="categories-empty col-md-12">
                        There are no toolboxes sections in this Work Area.
                    </div>
              
            </div>
      {%endfor%}
    </div>
