{% load static %}
<form class="follow-button " action="{% url 'tools:follow' tool.id %}" method="post">
  {% csrf_token %}
  <button type="submit" name='should_notify' value='1' class="btn flex-row" data-requires-validated-user="true">
      <div class="follow-button__icon__container flex-center">
        <svg class="icon icon--red" viewbox="0 0 1 1">
          <use xlink:href="{% static 'icons/cross.svg' %}#cross"></use>
        </svg>
      </div>
      <p class="follow-button__text flex-center">
        Follow
      </p>
  </button>
</form>
