{% load toolstags %}
{% load partition_slice %}

<div class="row">
  {% for resource in resources %}
    <div class="col-md-3 col-xs-6">
        <a href="{% url route resource.id %}"><div class="category-image">
          {% if resource.cover_image %}
            <img src="{{ resource.cover_image.url }}" />
          {% else %}
          <!--<img src="empty-image-here" />-->
          {% endif %}
        </div></a>
        <div class="category-content">
          <h3>{{ resource.title|truncatechars:40 }}</h3>
          <p>{{ resource.description|bleach_striptags|truncatechars:70 }}</p>
        </div>
    </div>
  {% empty %}
    <p>Huh, that's weird. We can't find any items. Check back later.</p>
  {% endfor %}
</div>
