{% load toolstags %}
{% load partition_slice %}

<div class="row">
  {% for resource in resources %}
    <div class="col-md-3 col-xs-6">
        <a href="{% url route resource.id %}"><div class="category-image">
          {% if resource.cover_image %}
            <img src="{{ resource.cover_image.url }}" />
          {% else %}
          <!--<img src="empty-image-here" />-->
          {% endif %}
          {% if resource.published == False %}
          <div class="unpublished-banner">
            <span>UNPUBLISHED</span>
          </div>
          {% endif %}
        </div></a>
        <div class="category-content">
          <a href="{% url route resource.id %}"><h3>{{ resource.title|truncatechars:40 }}</h3></a>
          <p>{{ resource.description|bleach_striptags|truncatechars:70 }}</p>
        </div>
    </div>
  {% empty %}
  <div class="col-md-3 col-xs-6">
    <p>There are no items available.</p>
  </div>
  {% endfor %}
</div>
