{% load toolstags %}
{% load partition_slice %}
{% load commontags %}
{% load static %}

<div class="container-fluid overview--tools tools">
  <div class="overview__container">
    <section class="search-bar wow fadeinup">
      <form class="form-inline search-form" method="get" action="{% url 'search:tool_results' %}?q={{query}}">
        <div class="form-group">
          <input type="text" name="q" value="" placeholder="Search for a specific tool" maxlength="30" class="form-control" title="" required=""
            id="id_q">
        </div>
        <button class="btn btn-primary" type="submit" />Search</button>
      </form>
    </section>
    <h3>Tools overview</h3>
    <div class="tools cards thirds">
      {% for resource in resources %}
        {% include 'tools/_tools_card.html' with tool=resource %}
      {% empty %}
      <div class="categories-empty col-md-12">
        There are no tools sections in this Work Area.
      </div>
      {%endfor%}
    </div>
  </div>
</div>