{% load static %} {% load commontags %} {% load bootstrap3 %}
<div class="card card--tool wow fadeinup" data-wow-delay=" 0.{{ forloop.counter }}s">
    {% if tool.published == False %}
    <div class="unpublished-banner">
        <span>UNPUBLISHED</span>
    </div>
    {% endif %}
    {% if tool.cover_image %}
    <div class="card__img" style="background-image: url({{ tool.cover_image }})"></div>
    {% else %}
    <div class="card__img" style="background-image: url(https://placeimg.com/640/480/any)"></div>
    {% endif %}
    <div class="card__content">
        <h4>
            <a href="{{tool.get_absolute_url}}">{{tool.title|truncatechars:50}}</a>
        </h4>
        <p>{{tool.description|bleach_striptags|truncatechars:130}}</p>
        <div class="card__footer card__counter">
            <div class="card__counter--people flex-vertical">
                <svg class="icon icon--black" viewbox="0 0 1 1">
                    <use href="{% static 'icons/profile.svg' %}#profile"></use>
                </svg>
                <span >{{tool.followers.count}} {{tool.followers.count|pluralize:"person, people"}} </span>
            </div>
            <div class="card__counter--comments flex-vertical">
                <svg class="icon icon--black" viewbox="0 0 1 1">
                    <use href="{% static 'icons/comment.svg' %}#comment"></use>
                </svg>
                <span>{{tool.comments.count}} {{tool.comments.count|pluralize:"comment, comments"}} </span>
            </div>
        </div>
    </div>
</div>