{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load compress %}

{% block head_statics %}
{% compress css %}
<link rel="stylesheet" href="{% static "css/tool.min.css" %}">
<link rel="stylesheet" href="{% static "css/category.min.css" %}">
{% endcompress %}
{% endblock %}

{% block head_title %}Add Toolbox - {% endblock %}

{% block main %}
<h1>Add Toolbox</h1>
<hr />

<form
method="POST" action="{% url 'tools:add_categorygroup' %}" class="form" 
enctype="multipart/form-data">
    {% csrf_token %}

    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
        <a class="btn btn-danger" href="{% url 'tools:list_categories' %}">Cancel</a>
    {% endbuttons %}
</form>

{% endblock %}
