{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load compress %}
{% load profilestags %}
{% block head_statics %}
{% compress css %}
<link rel="stylesheet" href="{% static "css/tool.min.css" %}">
{% endcompress %}
{% endblock %}

{% block head_title %}Tool Overview - {% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12 pull-right">
      
        <div class="dropdown tools__dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% if order%}
                    {{order}}
                {% else %}
                    newest
                {% endif %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-sort">
                {%for order, ordername in order_by_list.items%}
                    <li><a href="?order={{order}}">{{ordername.0}}</a></li>
                {%endfor%}
            </ul>
        </div>
    </div>
    <div class="col-md-8 col-sm-8 col-xs-12">
        <h1 class="title">Tool Overview
           
        </h1>
        <div class="overview-description">
            {{ overview.description }}
           
        </div>
    </div>

</div>

  {% include "tools/_tools_overview.html" with resources=tools_filter  %}
{% endblock %}
