{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load compress %}

{% block head_statics %}
{% compress css %}
<link rel="stylesheet" href="{% static "css/tool.min.css" %}">
{% endcompress %}

{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-8">
        <h1 class="title">Tool Overview
            {% if perms.tools %}{% if perms.tools.add_tool %}
                <a href="{% url 'tools:add' %}"><i class="fa fa-plus"></i></a>
            {% endif %}{% endif %}
        </h1>
    </div>

    <div class="col-md-4">
        {% if perms.tools %}{% if perms.tools.add_tool %}
            <div class="filter-buttons pull-right">
                {{tools_filter.form}}
            </div>
        {% endif %}{% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="overview-description">
            {{ overview.description }}
            {% if perms.tools %}{% if perms.tools.add_tool %}
                <a href="{% url 'tools:edit_overview' 'tool' %}"><i class="fa fa-edit"></i></a>
            {% endif %}{% endif %}
        </div>
    </div>
    <div class="col-md-4">
        <div class="dropdown pull-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdown-sort" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {% if order == 'd' %}
                    Descending
                {% else %}
                    Ascending
                {% endif %}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdown-sort">
                <li><a href="?o=a">A-Z</a></li>
                <li><a href="?o=d">Z-A</a></li>
            </ul>
        </div>
    </div>
</div>
  
  {% include "tools/_tools_overview.html" with resources=tools_filter route='tools:show' %}
{% endblock %}
