{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block main %}

  <h3 class="title">Tool overview
  {% if perms.tools %}{% if perms.tools.add_tool %}
  <a href="{% url 'tools:add' %}"><i class="fa fa-plus"></i></a>
  <div class="filter-buttons pull-right">
    {{tools_filter.form}}
  </div>
  {% endif %}{% endif %}
  </h3>
  <p class="category-description">
    {{ overview.description }}
  </p>

  {% include "tools/_resource_overview.html" with resources=tools_filter route='tools:show' %}
{% endblock %}
