{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load toolstags %}
{% load partition_slice %}
{% load commontags %}
{% load compress %}

{% block head_statics %}
{% compress js %}
<script src="{% static "js/tools.js"%}"></script>
{% endcompress %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/tool.min.css" %}">
<link rel="stylesheet" href="{% static "css/category.min.css" %}">
{% endcompress %}
{% endblock %}

{% block head_title %}Toolbox Overview{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-8">
       <h1 class="title">Toolbox Overview
         {% if perms.tools %}{% if perms.tools.add_toolcategory %}
         <a href="{% url 'tools:add_category' %}"><i class="fa fa-plus"></i></a>
         {% endif %}{% endif %}
       </h1>
    </div>

    <div class="col-md-4">
       {% if perms.tools %}{% if perms.tools.add_toolcategory %}
       <div class="filter-buttons pull-right">
         {{categories_filter.form}}
       </div>
       {% endif %}{% endif %}
    </div>

</div>

<div class="row">
    <div class="col-md-8">
         <p class="category-description">
           {{ overview.description }}
           {% if perms.tools %}{% if perms.tools.add_tool %}
           <a href="{% url 'tools:edit_overview' 'category' %}"><i class="fa fa-edit"></i></a>
           {% endif %}{% endif %}
         </p>
    </div>
    <div class="col-md-4">
        <div class="filter-buttons pull-right">
            {% if perms.tools %}{% if perms.tools.add_group %}
            <a class="btn btn-primary" href="{% url 'tools:add_categorygroup' %}">Add Toolbox</a>
            {% endif %}{% endif %}
        </div>
    </div>
</div>

{% include "tools/_categories_overview.html" %}
{% endblock %}
