{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load toolstags %}
{% load partition_slice %}

{% block main %}

<h3 class="title">Category overview <a href="{% url 'tools:add_category' %}"><i class="fa fa-plus"></i></a></h3>
<p class="category-description">
  Bacon ipsum dolor amet boudin meatloaf tongue, bacon short ribs salami flank sausage biltong. Alcatra hamburger jerky porchetta, pork andouille landjaeger fatback. Pig strip steak sausage turkey. Andouille cow porchetta tail alcatra shoulder pork belly sirloin drumstick prosciutto tenderloin pork leberkas short ribs.
</p>

<div class="row">
    {% for category in categories %}
      <div class="col-md-3">
        <div class="category-image">
          {% if category.cover_image %}
            <a href="{% url 'tools:show_category' category.id %}"><img src="{{ category.cover_image.url }}" /></a>
          {% else %}
          <!--<img src="empty-image-here" />-->
          {% endif %}
        </div>
        <div class="category-content">
          <h3>{{ category.title|bleach_striptags|truncatechars:50 }}</h3>
          <p>{{ category.description|bleach_striptags|truncatechars:80 }}</p>
        </div>
      </div>
    {% empty %}
      <p>Huh, that's weird. We can't find any tools. Check back later.</p>
    {% endfor %}
</div>
{% endblock %}
