{% extends "base.html" %}

{% load static from staticfiles %}
{% load toolstags %}
{% load profilestags %}
{% load commentstags %}
{% load commontags %}
{% load compress %}

{% block head_statics %}
<script type="text/javascript" src="{% static 'netbox/javascript/jsrender.min.js' %}"></script>
{% comments_javascript %}
{{ form.media }}

{% compress js %}
<script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
{% endcompress %}

{% compress css %}
<link rel="stylesheet" href="{% static 'css/tool.min.css' %}">
<link rel="stylesheet" href="{% static 'css/comments.min.css' %}">
{% endcompress %}
{% endblock %}

{% block head_title %}{{ tool.title }} - {% endblock %}

{% block ga_events %}
ga('send', 'event', 'tool', 'view');
{% endblock %}

{% block main %}

{% include '_hero_breadcrumbs.html' with icon='tools' breadcrumbs=breadcrumbs %}

<div class="container-fluid">
	<div class="content-card wow fadeinup">

<div class="row">
  <div class="col-md-8 col-sm-12 summernote-container">
			<h2 class="title">
		{{ tool.title }}
		{% if perms.tools %}{% if perms.tools.change_tool %}
		  <a href="{% url 'tools:edit' tool.id %}"><i class="fa fa-pencil-square-o"></i></a>
		{% endif %}{% endif %}
	  </h2>
	{% if tool.cover_image %}
		<div class="cover-image" style="background-image: url({{ tool.cover_image.url }})"></div>
	{% endif %}
	  <div class="tool-description summernote-content more">{{tool.description|safe }}</div>

	  
	  {% render_comment_list for tool %}
  </div>
  <div class="col-md-4 col-sm-12">
	  <div class="resource-box">
		  <h4 class="title">Resources
			  {% if perms.tools %}{% if perms.tools.add_toolresource %}
				  <a href="{% url 'resources:add' 'tool' tool.id  %}"><i class="fa fa-plus"></i></a>
			  {% endif %}{% endif %}
		  </h4>
		  
		  <p>{{ tool.resources_text }}</p>

		  {% for resource in tool.resources.all %}
			  {{ resource.document.type }}
			  <div class="resource-item">
				  <div class="pull-right">
					  <a target="_blank" download href="{{ resource.document.url }}">
						  <i class="fa fa-arrow-circle-o-down resource-action"></i>
					  </a>
					  {% if perms.tools %}{% if perms.tools.delete_toolresource %}
						  <a href="{% url 'resources:edit' resource.id %}">
							  <i class="fa fa-pencil resource-action"></i>
						  </a>
						  <a href="{% url 'resources:delete' resource.id %}">
							  <i class="fa fa-close resource-action"></i>
						  </a>
					  {% endif %}{% endif %}
				  </div>
				  <div>
					  <a class="resource-link" target="_blank"  href="{{ resource.document.url }}">
						  <i class="fa {{ resource.document|css_filefield }} resource-icon"></i>
						  <span class="resource-title">{{ resource.title }}</span>
					  </a>
				  </div>
			  </div>
		  {% endfor %}
	  </div>
	  	<h4 class="title">Used by</h4>
		<div class="tool-followers flex-wrapper">
			{% for follower in tool_followers %}
				<div class="tool-follower">
				<a href="{% url 'profiles:show' follower.user.profile.uid %}">
					{% render_profile_photo follower.user %}
				</a>
				</div>
			{% endfor %}
		</div>
		<h4 class="title">Toolboxes</h4>
		<div class="categories-tags">
			{% for category in tool.published_categories %}
			<div class="category-tag">
				<a href="{% url 'tools:show_category' category.id %}">{{ category.title }}</a>
			</div>
			{% empty %}
			<p>No toolboxes applied.</p>
			{% endfor %}
		</div>
	  <div class="help-improve">
		<h4 class="title">Help improve this tool</h4>
		
		<p>How can we improve this tool? Give us concrete feedback on what you think is missing.</p>
		<a
		  class="btn btn-primary"
		  href="{% url 'tools:add_suggestion' 'tool' tool.id %}"
		  data-requires-validated-user="true">Add a suggestion</a>
	  </div>
  </div>
</div>
</div>
</div>
{% endblock %}
