{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{% load toolstags %}
{% load partition_slice %}
{% load compress %}

{% block head_statics %}
{{ form.media }}

{% compress css %}
<link rel="stylesheet" href="{% static "css/tool.min.css" %}">
<link rel="stylesheet" href="{% static "css/category.min.css" %}">
{% endcompress %}
{% endblock %}

{% block head_title %}{{ category.title }}{% endblock %}

{% block main %}
    <div class="row category">
        <div class="col-md-12">
            {% if category.cover_image %}
                <div class="category-cover-image" style="background-image: url({{ category.cover_image.url }})"></div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <div class="category-group">
                This toolbox section is part of the toolbox: 
                <a href="{% url 'tools:list_categories' %}#category-group-{{category.group.id}}">
                    {{category.group.name}}
                </a>
            </div>
            <h1 class="title no-top-margin">{{ category.title }}
                {% if perms.tools %}{% if perms.tools.change_toolcategory%}
                    <a href="{% url 'tools:edit_category' category.id %}"><i class="fa fa-pencil-square-o"></i></a>
                {% endif %}{% endif %}
                {% if perms.tools %}{% if perms.tools.delete_toolcategory%}
                    <a href="{% url 'tools:delete_category' category.id %}"><i class="fa fa-trash-o"></i></a>
                {% endif %}{% endif %}
            </h1>
            <div class="summernote-content category-more">{{category.description|safe }}</div>
        </div>
        <!--<div class="col-md-6">
          <h4 class="title">Related categories</h4>
          <div class="categories-tags">
            {% for i in "xxxxxxx" %}
              <div class="category-tag">
                Toolbox {{ forloop.counter0 }}
              </div>
            {% endfor %}
          </div>

        </div>-->
        <div class="col-md-6">
          <h4 class="title">Help improve this category</h4>
          <div class="row">
            <div class="col-md-7 improvement-info">
              <p>
                How can we improve this toolbox? Give us concrete feedback on what you think is missing.
              </p>
            </div>
            <div class="col-md-4">
              <a class="btn btn-warning" href="{% url 'tools:add_suggestion' 'category' category.id %}">Add a suggestion</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 top-margin">
          <div class="resource-box">
            <h3 class="title">Resources
            {% if perms.tools %}{% if perms.tools.add_toolresource %}
            <a href="{% url 'resources:add' 'toolcategory' category.id %}"><i class="fa fa-plus"></i></a>
            {% endif %}{% endif %}
            </h3>
            <p>{{ category.resources_text }}</p>

            {% for resource in category.resources.all %}
              {{ resource.document.type }}
              <div class="resource-item">
                <div class="pull-right">
                  <a target="_blank" download href="{{ resource.document.url }}"><i class="fa fa-arrow-circle-o-down resource-action"></i></a>
                  {% if perms.tools %}{% if perms.tools.delete_toolresource %}
                  <a href="{% url 'resources:edit' resource.id %}"><i class="fa fa-pencil resource-action"></i></a>
                  <a href="{% url 'resources:delete' resource.id %}"><i class="fa fa-close resource-action"></i></a>
                  {% endif %}{% endif %}
                </div>
                <div>
                  <a class="resource-link" target="_blank"  href="{{ resource.document.url }}">
                    <i class="fa {{ resource.document|css_filefield }} resource-icon"></i>
                    <span class="resource-title">{{ resource.title }}</span>
                  </a>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
    </div>
    <hr class="category-seperator">
    <div class="row">
        <div class="col-md-12">
            <h2 class="title">Related tools</h2>
            <div class="row flex-wrapper">
                {% for resource in category.published_tools %}
                    <div class="col-md-3 col-xs-6">
                        <a href="{% url 'tools:show' resource.id %}"><div class="category-image">
                            {% if resource.cover_image %}
                                <img src="{{ resource.cover_image.url }}" />
                            {% else %}
                                <!--<img src="empty-image-here" />-->
                            {% endif %}
                        </div></a>
                        <div class="category-content">
                            <h3>{{ resource.title|bleach_striptags|truncatechars:16 }}</h3>
                            <p>{{ resource.description|bleach_striptags|truncatechars:70 }}</p>
                        </div>
                    </div>
                {% empty %}
                    <p>There are no related tools.</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
