{% verbatim %}
<script id="comment-item-tmpl" type="text/x-jsrender">
<div class="row comment-item">
    <div class="col-md-2">
        <img class="profile-thumbnail-img" src="{{:author_photo_url}}" />
    </div>
    <div class="col-md-10">
            <p>
              <span>{{:author_country}}</span>
              <span><strong>{{:author_name}}</strong></span>
              <span>{{:added_time}}</span>
            </p>
            <p>{{:content}}</p>
            <p><a class="comment-reply-btn"
            data-related_object_id="{{:related_object_id}}"
            data-related_object_type="{{:related_object_type}}"
            href="">Reply</a></p>
    </div>
</div>
</script>
{% endverbatim %}