{% load profilestags %}

<div id="comment-form-box" class="row comment-item">
     <div class="col-md-2">
         {% render_profile_photo user %}
     </div>
     <div class="col-md-10 comment-text">
         <form method="POST" action="{% url 'comments:add' %}" class="form comment-form">
             <input name="related_object_id" type="hidden" value="{{comment_related_object_id}}" />
             <input name="related_object_type" type="hidden" value="{{comment_related_object_type}}" />
             <input name="parent" type="hidden" value="" />
             <div class="form-group">
                 <textarea class="form-control" name="content" style="min-width: 100%"
                 placeholder="Write a comment..." required="required"></textarea>
             </div>
             <div class="form-group">
                 <a class="btn btn-primary comment-submit-btn pull-right">Send</a>
             </div>
         </form>
     </div>
</div>
