{% load bootstrap3 %}
{% load static from staticfiles %}
{% load commentstags %}
{% load profilestags %}

<h3 class="title">Comments</h3>
<p>Do you have a comment or question about this tool?
 <a href="#comment-form-box">Discuss</a> it with the rest of the community.</p>

<div id="comment-list-box" class="flex-wrapper row">
  <div id="comment-list" class="col-md-12">
  {% for parent_id, node in comment_dict.items %}
    {% include 'comments/_item.html' with comment=node.parent parent_id=node.parent.tree_id css_class='comment-item' %}
    {% if node.replies %}
    <div class="row comment-replies-row">
        <div class="col-md-2 comment-vline"></div>
        <div class="col-md-10 comment-replies">
        {% for reply in node.replies %}
            {% include 'comments/_item.html' with comment=reply parent_id=reply.tree_id css_class='comment-item comment-reply' %}
        {% endfor %}
        </div>
    </div>
    {% endif %}
  {% endfor %}
  </div>
</div>


<div class="flex-wrapper row">
  {% if user.is_authenticated %}
   <div class="col-md-12">
    {% render_addcomment_form %}
   </div>
  {% endif %}
</div>
