
[run]
branch = True
omit = *mock*
    *migrations*
    *test*
    *settings/*
    */urls*
    */admin.py

[report]
exclude_lines =
    import
    (models.Model)
    class Meta:
    pragma: no cover
    def __repr__
    def __str__
    @staticmethod
    raise NotImplementedError
    if six.PY3
    raise ImproperlyConfigured
    logger.debug
    log.debug

