Django<1.9
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
psycopg2>=2.6
whitenoise==2.0.2
coverage
django-nose
yanc
ipython<3.0
django-postgrespool
django-bootstrap3
git+git://github.com/AGoodId/django-s3-collectstatic.git#egg=django-s3-collectstatic
git+git://github.com/Axik/django-storages-py3.git#egg=django-storages
pillow
django-summernote