humanize
django-filer
amqp==2.5.0
ansicolors==1.1.8
billiard==3.5.0.5
bleach==2.1.2
blessings==1.7
boto==2.48.0
bpython==0.18
celery==4.1.0
certifi==2019.6.16
chardet==3.0.4
configparser==3.7.4
coverage==4.5
curtsies==0.3.0
defusedxml==0.6.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==2.2.8
django-admin-sortable==2.1.8
django-admin-tools==0.8.1
django-allauth==0.38.0
django-appconf==1.0.3
django-bootstrap3==9.1.0
django-compat==1.0.15
django-compressor==2.2
django-countries==5.1
django-easy-timezones==0.8.0
django-extensions==2.2.3
django-filter==2.2.0
django-gulp==4.1.0
django-haystack==3.0.0
django-hijack==2.1.10
django-hijack-admin==2.1.6
django-model-utils==3.1.1
django-nose==1.4.5
django-notifications-hq==1.3
django-solo==1.1.3
django-storages==1.7.1
django-summernote==0.8.8.6
django-trumbowyg==1.1.1
django-import-export
elasticsearch==5.5.0
env-tools==2.2.0
greenlet==0.4.15
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
ipaddress==1.0.16
jsonfield==2.0.2
kombu==4.6.3
newrelic==4.20.1.121
nose==1.3.7
oauthlib==3.0.2
Pillow==6.1.0
psutil==5.6.3
psycopg2==2.8.3
psycopg2-binary==2.8.3
pygeoip==0.3.2
Pygments==2.4.2
python3-openid==3.1.0
pytz==2019.2
rcssmin==1.0.6
redis==3.3.5
requests==2.22.0
requests-oauthlib==1.2.0
rjsmin==1.0.12
six==1.12.0
sqlparse==0.3.0
static3==0.7.0
swapper==1.1.1
tini==3.0.1
toolz==0.10.0
typing==3.7.4
urllib3==1.21.1
vine==1.3.0
wcwidth==0.1.7
webencodings==0.5.1
whitenoise==4.1.3
yanc==0.3.3
django-ckeditor
