Django<1.9
django-allauth==0.24.1
django-cms>=3.0
django-filter==0.11.0
django-model-utils==2.4
djangocms-file>=2.0.0
djangocms-inherit>=0.2.2
djangocms-link>=1.8.3
djangocms-picture>=2.0.1
djangocms-teaser>=0.2.0
djangocms-video>=2.0.1
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==19.1.1
psycopg2>=2.6
whitenoise==2.0.2
coverage
django-nose
yanc
ipython<3.0
django-postgrespool==0.3.0
django-bootstrap3==6.2.2
Pillow>=2.3.0
django-summernote==0.6.16
boto
bleach
git+https://github.com/jschneier/django-storages.git#egg=django-storages
django-solo
newrelic==2.60.0.46
sqlparse==0.1.18
django-countries==3.4.1
django-gulp==2.3.0
django-compressor==2.0
django-easy-timezones==0.7.0
django-contrib-comments==1.6.2
redis==2.10.5
celery==3.1.23
django-haystack==2.4.1
elasticsearch==2.3.0
