{% extends "base.html" %}
{% load static %}
{% load compress %}
{% load profilestags %}

{% block head_statics %}
{% compress js %}
<script src="{% static "js/profiles.js" %}"></script>
{% endcompress %}
{% compress css %}
<link rel="stylesheet" href="{% static "css/profile.min.css" %}">
{% endcompress %}
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-md-2">
        {% if profile_user.profile.photo %}
            <img class="profile-photo" src="{{profile_user.profile.photo.url}}" />
        {% else %}
            <img class='profile-photo' src="{% static 'profiles/images/Small user pic.png' %}">
        {% endif %}
    </div>
    <div class="profile col-md-6">
        <h1 class="title">
            {% if profile_user.profile.country %}
                <span title="{{profile_user.profile.country.name}}" class="flag-icon flag-icon-{{profile_user.profile.country}}"></span>
            {% endif %}
            {{profile_user.profile.name}}
            {% if profile_user.id == user.id %}
                <a class="pull-right" href="{% url 'profiles:edit' %}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            {% endif %}
        </h1>
        {% if profile_user.profile.country %}
            <h3>
                <span class="glyphicon glyphicon-globe"></span>
                {{profile_user.profile.country.name}}
            </h3>
        {% endif %}
        {% if profile_user.profile.bio %}
            <p>{{profile_user.profile.bio}}</p>
        {% endif %}
        {% if stories %}
            <div class="stories">
                <h3 class="title">Stories I have shared</h3>
                <div class="row">
                    {% for story in stories %}
                        <div class="story col-md-6 {% if forloop.counter > 4%}hidden{% endif %}">
                            <h4>
                                {% if story.country %}
                                    <span title="{{story.country.name}}" class="flag-icon flag-icon-{{story.country}}"></span>
                                {% endif %}
                                <a href="{% url 'tools:show_story' story.id %}">{{story.title}}</a>
                            </h4>
                            {{ story.content|bleach_striptags|truncatechars:150 }}
                            <a href="{% url 'tools:show_story' story.id %}">Read more</a>
                        </div>
                    {% endfor %}
                </div>
                {% if stories|length > 4 %}
                    <div class="show-all">
                        <a id="show-all-stories" href="#">Show all</a>
                    </div>
            {% endif %}
            </div>
        {% endif %}
    </div>
 
    <div class="col-md-4">
        {% if tools %}
            <div class="tools-used">
            <h3 class="title">
                <span class="glyphicon glyphicon-wrench"></span>
                Tools I Use
            </h3>
            <div class="flex-wrapper row">
                {% for tool in tools|slice:":9" %}
                    <div class="tool col-md-4">
                        <a href="{% url 'tools:show' tool.id %}">
                            {% if tool.cover_image %}
                                <div class="tool-cover-image" style="background-image: url({{ tool.cover_image.url }})"></div>
                            {% else %}
                                <div class="tool-cover-image"></div>
                            {% endif %}
                            {{tool.title}}
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% if tools|length > 9 %}
                <div class="show-all">
                    <a href="#">Show all</a>
                </div>
            {% endif %}
            </div>
        {% endif %}
        {% if stories_fav %}
        <h3 class="title">
            <span class="glyphicon glyphicon-star"></span>
            My favorite stories
        </h3>
        {% endif %}
    </div>
</div>
{% endblock %}
