{% extends "base.html" %}
{% load static %}
{% load compress %}
{% load profilestags %}
{% load commontags %}

{% block head_statics %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/profile.min.css" %}">
{% endcompress %}
{% endblock %}

{% block head_title %}Tools Used by {{profile_user.profile.name}}{% endblock %}

{% block main %}

<h1 class="title">
    Tools Used by {{profile_user.profile.name}}
</h1>
<div class="flex-wrapper row">
  {% for tool in tools %}
    <div class="tool-item col-md-3 col-sm-4 col-xs-6">
        <a href="{% url 'tools:show' tool.id %}"><div class="tool-image">
          {% if tool.cover_image %}
            <img src="{{ tool.cover_image.url }}" />
          {% else %}
          <!--<img src="empty-image-here" />-->
          {% endif %}
        </div></a>
        <div class="tool-content">
          <a href="{% url 'tools:show' tool.id %}"><h3>{{ tool.title|truncatechars:51 }}</h3></a>
          <p>{{ tool.description|bleach_striptags|truncatechars:70 }}</p>
        </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
