{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block head_title %}Terms and Conditions - {% endblock %}

{% block main %}

<div class="container-fluid flex-grow flex-center">
<div class="row">

 <div class="col-md-8 col-md-offset-2">
  <h1>Terms and Conditions</h1>

  <p>This is the staging site for the development process of Reflection Actionx;
  a project under the Democratic Governance International Platform.
By entering this site you agree to be aware that it is an ActionAid internal
space, not yet for public access and that it is not to be shared beyond yourself.
If you think others need access or have other questions, please get in touch
with project coordinator Casper Knudsen on ckn@ms.dk.
By clicking accept you also accept that we are using cookies.</p>

  <form method="POST" action="">
    {% csrf_token %}
    <input type="hidden" name="{{redirect_field_name}}" value="{{next_page}}" />
    <div class="form-group text-center">
        <label for="id_accepted">
            <input
              type="checkbox"
              name="accepted"
              id="id_accepted" />
            I accept
        </label>
        <button class="btn btn-primary" type="submit">
            Continue
        </button>
    </div>
  </form>
  </div>

</div>
</div>
{% endblock %}
