{% load static %} {% load commontags %} {% load bootstrap3 %}
<div class="card card--toolbox wow fadeinup" data-wow-delay=" 0.{{ forloop.counter }}s">
    {% if toolbox.cover_image %}
    <div class="card__img" style="background-image: url({{ toolbox.cover_image }})"></div>
    {% else %}
    <div class="card__img" style="background-image: url(https://placeimg.com/640/480/any)"></div>
    {% endif %}
    <div class="card__content">
        <h4>
            <a href="{{toolbox.get_absolute_url}}">{{toolbox.title|truncatechars:50}}</a>
        </h4>
        <p>{{toolbox.description|bleach_striptags|truncatechars:130}}</p>
        <div class="card__footer card__counter">
            <div class="card__counter--people flex-vertical">
                {% svg_icon icon_id="tools" icon_classes="icon--white" %}
                <span class="white-text">{{toolbox.tools.count}} {{toolbox.tools.count|pluralize:"tool, tools"}} </span>
            </div>
        </div>
    </div>
</div>
