{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{% load toolstags %}
{% load commontags %}
{% load partition_slice %}
{% load compress %}

{% block head_statics %}
{{ form.media }}

{% compress css %}
<link rel="stylesheet" href="{% static "css/tool.min.css" %}">
<link rel="stylesheet" href="{% static "css/category.min.css" %}">
{% endcompress %}
{% endblock %}

{% block head_title %}{{ category.title }} - {% endblock %}

{% block ga_events %}
ga('send', 'event', 'toolboxSection', 'view');
{% endblock %}

{% block main %}

{% include '_hero_breadcrumbs.html' with icon='work-areas' breadcrumbs=breadcrumbs %}

<div class="container-fluid">
    <div class="content-card wow fadeinup">
        <div class="col-md-8 col-sm-12 summernote-container">
            <div class="row">
                <h2 class="title">{{category.title}}</h2>
                <div class="category-description summernote-content category-more">
                    {% if perms.tools %}{% if perms.tools.change_category %}
                    <a href="{% url 'tools:edit_categorygroup' category.id %}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% endif %}{% endif %}
                    {{category.description|safe }}
                </div>
                <div class="divider--bordered"></div>
                <h3>Tools in this toolbox</h3>
                <div class="cards halfs">
                    {% for resource in category.published_tools %} 
                        {% include "tools/_tools_card.html" with tool=resource %} 
                    {% empty %}
                        <p>There are no related tools.</p>
                    {% endfor %}
                </div>
            </div>
            {% if perms.tools %}{% if perms.tools.add_toolcategory %}
            <a class="btn btn-primary pull-right" href="{% url 'tools:add_category_to_group' category.id %}">Add Toolbox</a>
            {% endif %}{% endif %}
            <div class="col-md-4 col-sm-12">
                <div class="resource-box">
                    <h4 class="title">Resources {% if perms.tools %}{% if perms.tools.add_toolresource %}
                        <a href="{% url 'resources:add' 'toolcategory' category.id %}">
                            <i class="fa fa-plus"></i>
                        </a>
                        {% endif %}{% endif %}
                    </h4>
                    <p>{{ category.resources_text }}</p>
                
                    {% for resource in category.resources.all %} {{ resource.document.type }}
                    <div class="resource-item">
                        <div class="pull-right">
                            <a target="_blank" download href="{{ resource.document.url }}">
                                <i class="fa fa-arrow-circle-o-down resource-action"></i>
                            </a>
                            {% if perms.tools %}{% if perms.tools.delete_toolresource %}
                            <a href="{% url 'resources:edit' resource.id %}">
                                <i class="fa fa-pencil resource-action"></i>
                            </a>
                            <a href="{% url 'resources:delete' resource.id %}">
                                <i class="fa fa-close resource-action"></i>
                            </a>
                            {% endif %}{% endif %}
                        </div>
                        <div>
                            <a class="resource-link" target="_blank" href="{{ resource.document.url }}">
                                <i class="fa {{ resource.document|css_filefield }} resource-icon"></i>
                                <span class="resource-title">{{ resource.title }}</span>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="help-improve">


                    <h3 class="title">Help improve this Work Area</h3>
                    <p>Tell us about your experience in this Work Area, so the community can learn from it.</p>
                    <a class="btn btn-primary" href="{% url 'tools:add_workarea_story' category.id %}" data-requires-validated-user="true">Add a story</a>
                    <p>How can we improve this Work Area? Give us concrete feedback on what you think is missing.</p>
                    <a class="btn btn-primary" href="{% url 'tools:add_suggestion' 'categorygroup' category.id %}" data-requires-validated-user="true">Add a suggestion</a>
                </div>
                <div class="divider--bordered"></div>
            </div>
        </div>
    </div>
    <div class="divider__bordered"></div>
</div>












{% endblock %}
