.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.profile-photo {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile {

  h1.title {

    .glyphicon {
      color: #c2c1b8;
    } 
  
    a { color: black; }
    a:hover { text-decoration: none; }

  }

  h3 {
    font-size: 18px;
    margin: 0.7em 0;
    display: flex;
    align-items: center; 

    span {
      margin-right: 0.3em;
      font-size: 1.1em;
    }

  }

  .stories, .tools {

    margin: 2.5em 0;

    h3.title {
      margin-bottom: 0;
    }

    .story, .tool {
  
      margin: 0.5em 0;

      h4 {
        font-size: 16px;
        margin-bottom: 5px;

        a {
          color: black;
        }

      }

      a {
        font-weight: bold;
      }
      
      a:hover {
        text-decoration: none;
      }

      .tool-cover-image {
        width: 80px;
        height: 80px;
        margin-top: 10px;
        margin-right: 10px;
        background-size: cover;
      }
    
      .tool-content {
        width: 75%;
      }

    }

    .tool {
      margin: 0 0 1em 0;
    }
      
  }
  
  .activities {
    list-style-type: none;
    padding: 0;
    margin: 1em 0;

    li {
      margin: 1.2em 0;
    }

    h4 {

      margin-bottom: 5px;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      display: flex;
      align-items: top; 

      .glyphicon {
        margin-right: 0.6em;
        font-size: 1.2em;
      }

    }
    
    .activity-created {
      color: #8d8479;
      font-size: 12px;
      font-weight: normal;
      white-space: nowrap;
      margin-left: 0.3em;
    }

    .activity-content {
      color: #c2c1b8;
    }
  }
}

.tools-used {

  margin: 1em 0;
    
  a { color: black; }
  a:hover { text-decoration: none; }
  
  .tool {
    
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;

    .tool-cover-image {
      width: 90px;
      height: 90px;
      margin-bottom: 7px;
      background-size: cover;
    }
    
  }
 
} 

.show-all {
  margin: 1em 0;
  font-weight: bold;

  a { color: black; }
  a:hover { text-decoration: none; }

}

