{% load static %}
<section class="search-bar wow fadeinup">
    <div class="search-bar__splash splash">Looking for a specific tool?<br>
      <span class="red-text">Search</span> within all tools and stories here
        
      <img class="search-bar__arrow wow zoomin" data-delay="0.5s" src="{% static 'icons/splash-arrow.svg' %}" alt="">
    </div>  
    <form class="form-inline search-form" method="get" action="{% url 'search:homepage' %}">
      <div class="form-group">
        <input type="text" name="q" value="" placeholder="Find tools, stories, a users and more" maxlength="30" class="form-control" title="" required="" id="id_q">
      </div>
      <button class="btn btn-primary" type="submit" />Search</button>
    </form>
</section>
