{% extends "base.html" %}
{% load bootstrap3 %}
{% load commontags %}
{% load static %}
{% load compress %}

{% block head_statics %}
 {% compress css %}
 <link rel="stylesheet" href="{% static "css/search.min.css" %}">
 {% endcompress %}
{% endblock %}

{% block head_title %}Welcome{% endblock %}

{% block main %}

<div id="mainpage">
    <div class="row search-form-box">
        <div class="col-md-12">
        <form class="form-inline search-form" method="get" action="{% url 'search:homepage' %}">
            <div class="form-group">
                {% bootstrap_form form %}
                <button class="btn btn-primary" type="submit" />Search</button>
            </div>
        </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
        <p class="search-info">Take a look on the recent activity or use the search field above to find specific content.</p>
        </div>
    </div>
        
    <div class="row">
        <div class="col-md-4 search-box">
           <h1 class="title search-box__title"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;Tools</h1>
           {% for tool in tools %}
             <div class="search-result">
               <p class="search-result__title"><a href="{{tool.get_absolute_url}}">{{tool.title|truncatechars:50}}</a></p>
               <p class="search-result__content">{{tool.description|bleach_striptags|truncatechars:130}}</p>
             </div>
           {% endfor %}
           <span class="search-box__showmore">
           <a href="{% url 'search:tool_results' %}?q={{query}}">Show more results</a>
           </span>
        </div>

        <div class="col-md-4 search-box">
            <h1 class="title search-box__title"><i class="fa fa-align-justify" aria-hidden="true"></i>&nbsp;Stories</h1>
            {% for story in stories %}
                <div class="search-result">
                  <p class="search-result__title"><a href="{{story.get_absolute_url}}">{{story.title|truncatechars:50}}</a></p>
                  <p class="search-result__content">{{story.content|bleach_striptags|truncatechars:130}}</p>
                </div>
            {% endfor %}
            <span class="search-box__showmore">
            <a href="{% url 'search:story_results' %}?q={{query}}">Show more results</a>
            </span>
        </div>
        
        <div class="clearfix"></div>

        <div class="col-md-6 search-box">
            <h1 class="title search-box__title"><i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;Toolboxes</h1>
            {% for category in categories %}
                <div class="search-result">
                  <p class="search-result__title"><a href="{{category.get_absolute_url}}">{{category.title|truncatechars:50}}</a></p>
                  <p class="search-result__content">{{category.description|bleach_striptags|truncatechars:130}}</p>
                </div>
            {% endfor %}
            <span class="search-box__showmore">
            <a href="#">Show more results</a>
            </span>
        </div>

        <div class="col-md-4 search-box">
            <h1 class="title search-box__title"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Users</h1>
            {% for profile in profiles %}
                <div class="search-result">
                  <p class="search-result__title"><a  href="{{profile.get_absolute_url}}">{{profile.name|truncatechars:50}}</a></p>
                  <p class="search-result__content">{{profile.bio|bleach_striptags|truncatechars:130}}</p>
                </div>
            {% endfor %}
            <span class="search-box__showmore">
            <a href="{% url 'search:profile_results' %}?q={{query}}">Show more results</a>
            </span>
        </div>

    </div>
</div>

{% endblock %}
