{% extends "base.html" %}
{% load bootstrap3 %}
{% load commontags %}
{% load static %}
{% load compress %}
{% load profilestags %}
{% block head_statics %}
 {% compress css %}
 <link rel="stylesheet" href="{% static "css/search.min.css" %}">
 {% endcompress %}
{% endblock %}

{% block head_title %}{{block.super}}{% endblock %}


{% block main %}
<div class="hero-section hero-section--front">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="hero-section__inner flex-vertical">
                    <div>
                        <h1 class="hero-section__title front">
                            <span class="first">{{flash_headline}}</span>
                            
                        </h1>
                        <p class="hero-section__tagline front">{{flash_subtext}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="front__cards gray">
    <div class="container-fluid">
        <div class="front__cards__inner">
        {%for overview_name, overview in overviews.items %}
            <div class="front__cards__card wow fadein" data-wow-delay=" 0.{{ forloop.counter }}s">
            <!-- <a href="{% url  overview.link  %}" class="btn btn-bordered">{{overview.link_text}}</a> -->
                <div class="icon-container icon-container--overlay icon-container--black icon-container--{{overview_name|lower|slugify}}">
                    {% svg_icon icon_id=overview_name|lower|slugify %}
                </div>
                <h3 class="title">
                    {{ overview_name }}
                </h3>
                <div class="front__cards__bgimg" style="background-image: url({{ overview.cover_image.url }})"></div>
                <!-- <img class="front__cards__bgimg" src="{{ overview.cover_image.url }}" alt="" width="100%"> -->
                <div class="search-result">
                    <p >
                    {{ overview.headline }}
                    </p>
                    <a href="{% url  overview.link  %}" class="btn btn-bordered">
                        <h4 class="red-text">
                            {{overview.link_text}}
                        </h4>
                        <img src="{% static "icons/chevron.svg" %}" alt="">
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>
{% include 'search/_search-bar.html' with front=True placeholder="Find tools, stories, users and more" %}

<section class="section--white section--padded wow fadeinUp section--cards">
    <div class="container-fluid">
        <div class="flex-space-between section--cards--header">
            <h2 class="title">
                RECENTLY USED <br> TOOLS AND METHODS
            </h2>
            <a href="{%url 'tools:list_tools' %}" class="btn btn-primary">View All Tools</a>
        </div>
        <div class="divider"></div>
        <div class="tools cards front thirds">
            {% for tool in recent_tools %}
                {% include 'tools/_tools_card.html' %}
            {% endfor %}
        </div>
    </div>
</section>

<section class="section--gray section--padded wow fadeinup section--cards">
    <div class="container-fluid">
        <div class="flex-space-between section--cards--header">
            <h2 class="title">
            EXPLORE <br> LATEST STORIES OF CHANGE
            </h2>
            <a href="{% url 'tools:show_all_stories' %}" class="btn btn-primary">Show all Stories</a>  
        </div>
        <div class="divider"></div>
        <div class="stories cards front thirds">
            {% for story in recent_stories %}
                {% include "stories/_story_card.html" with story=story %}
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}

