@font-face {
  font-family: 'AmericanTypewriter-Light';
  src: url('../fonts/AmericanTypewriter-Light.eot');
  src: url('../fonts/AmericanTypewriter-Light.woff') format("woff"), url('../fonts/AmericanTypewriter-Light.ttf') format("truetype"), url('../fonts/AmericanTypewriter-Light.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AmericanTypewriter-Bold';
  src: url('../fonts/AmericanTypewriter-Bold.eot');
  src: url('../fonts/AmericanTypewriter-Bold.woff') format("woff"), url('../fonts/AmericanTypewriter-Bold.ttf') format("truetype"), url('../fonts/AmericanTypewriter-Bold.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'AmericanTypewriter';
  src: url('../fonts/AmericanTypewriter.eot');
  src: url('../fonts/AmericanTypewriter.woff') format("woff"), url('../fonts/AmericanTypewriter.ttf') format("truetype"), url('../fonts/AmericanTypewriter.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: 'Helvetica Neue', 'Arial';
}

@media (min-width: 1200px) {
  .container {
    width: 1230px;
  }
}

a {
  color: #ed1c24;
  &:hover, &:active,  {
    color: #bf0d13;
  }
  .fa {
    color: #337ab7;
    margin-left: 0.1em;
    &:hover {
      color: #337ab7;
      margin-left: 0.1em;
    }
  }
}

.title {
  font-family: 'AmericanTypewriter-Bold','Arial';
  font-weight: bold;
}

h1.title {
  font-size: 24px;
}

h3.title {
  font-size: 18px;
}

.btn-primary {
  background-color: #ed1c24;
  border-color: #ed1c24;
  &:hover {
    background-color: #bf0d13;
    border-color: #bf0d13;
  }
}

.btn-warning {
  color: white;
  background-color: black;
  border-color: black;
  &:hover, &:active {
    background-color: grey;
    border-color: grey;
  }
}

.btn-black {
  color: #ffffff;
  background-color: black;
  border-color: black;
  &:hover {
    color: #ffffff;
    background-color: grey;
    border-color: grey;
  }
}

.improvement-info {
  line-height: 1.6rem;
}

.navbar {
  border: none;
  border-radius: 0px;
  font-family: 'AmericanTypewriter', 'Arial';
}

.navbar-brand {
  font-family: 'AmericanTypewriter-Bold','Arial';
}

.navbar-logo {
  height: 1.5rem;
}

.navbar-top {
  padding-top: 1rem;
  margin-bottom: 0px;
  background-color: white;
  min-height: 7rem;
}

.navbar-bottom {
  background-color: #ED1C24;
  min-height: 0.8rem;
  height: 4.5rem;
}

.navbar-top .navbar-brand {
  color: black;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.navbar-default .navbar-nav {
  font-size: 18px;

  > .active > a {
    color: #ED1C24;
    background: white;

    &:hover, &:focus {
      color: #ED1C24;
      background: white;
    }

  }

}

.navbar-right {
  
  .profile-photo {
    margin: 3px 3px 0 0;
  }

  > li > a {
    color: black !important;
    font-weight: bold;
    font-size: 15px;
    font-family: "Helvetica Neue", "Arial";
  }

}

.white-text {
  color: #ffffff;
}

.more {
  margin-bottom: 2em;
}

.social-button {
  position: relative;
  height: 4.125rem;
  width: 20.125rem;
  line-height: 4.125rem;
  max-width: 100%;
  display: block;
  background-color: #E2E4DD;
  margin-bottom: 0.9375rem;
  &.facebook {
    background-color: #2980B9;
  }
  &.twitter {
    background-color: #3498DB;
  }
  &.google {
    background-color: #E74C3C;
  }
  &:hover {
    background-color: black;
    transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
  }
}

/* Form label tooltips */

.label-tooltip + .tooltip {
  > .tooltip-inner {
    background-color: #eee;
    color: black;
    padding: 1em;
    font-size: 1.1em;
    text-align: left;
  }
  &.right > .tooltip-arrow {
    border-right: 5px solid #eee;
  }
}

.flag-icon {
  margin-right: 0.2em;
}

.profile-photo {
  width: 45px;
  height: 45px;

  .profile-photo-img {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}

#cookies-notice {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #262626;
  opacity: 0.95;
  color: white;
  padding: 1em;
  font-size: 0.9em;

  form {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 910px;
    display: flex;
    align-items: center;

    .btn {
      margin-left: 2em;
      font-size: 0.8em;
    }
  }

}

#home {

  form {
    margin: 30px auto;
    width: 600px;

    .form-group{

      input{
        width: 500px;
        padding: 10px 5px;
        margin: 0 10px 0 0;
        font-size: 12px;
      }
      
      button {
        width: 80px;
        font-size: 12px; 
      }

    }

  }

  .col-md-5 {
    margin-bottom: 30px;

    div {
      height: 15em;

      ul {
        list-style-type: none;
        padding-left: 0;

        a {
          color: black; 
        }

      }
      
    }

  }

}

.note-editor,
.summernote-content {
  h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  h1 {
    font-family: 'AmericanTypewriter-Bold','Arial';
    font-weight: bold;
    color: #8d8479 !important;
    font-size: 24px;
    margin: 0;
  }

  h2 {
    font-size: 16px; 
  }
  
  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 13px;
  }

  h6 {
    font-size: 12px;
  }
}

