//  AMERICAN TYPEWRITER
@font-face {
  font-family: 'AmericanTypewriter-Light';
  src: url('../fonts/AmericanTypewriter-Light.eot');
  src: url('../fonts/AmericanTypewriter-Light.woff') format("woff"), url('../fonts/AmericanTypewriter-Light.ttf') format("truetype"), url('../fonts/AmericanTypewriter-Light.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericanTypewriter-Bold';
  src: url('../fonts/AmericanTypewriter-Bold.eot');
  src: url('../fonts/AmericanTypewriter-Bold.woff') format("woff"), url('../fonts/AmericanTypewriter-Bold.ttf') format("truetype"), url('../fonts/AmericanTypewriter-Bold.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('../fonts/AmericanTypewriter.eot');
  src: url('../fonts/AmericanTypewriter.woff') format("woff"), url('../fonts/AmericanTypewriter.ttf') format("truetype"), url('../fonts/AmericanTypewriter.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

// HELVETICA

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeue-Roman.eot');
  src: url('../fonts/HelveticaNeue-Roman.otf') format("opentype"), url('../fonts/HelveticaNeue-Roman.woff') format("woff"), url('../fonts/HelveticaNeue-Roman.ttf') format("truetype"), url('../fonts/HelveticaNeue-Roman.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Bold';
  src: url('../fonts/HelveticaNeue-Bold.eot');
  src: url('../fonts/HelveticaNeue-Bold.otf') format("opentype"), url('../fonts/HelveticaNeue-Bold.woff') format("woff"), url('../fonts/HelveticaNeue-Bold.ttf') format("truetype"), url('../fonts/HelveticaNeue-Bold.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelveticaNeue-Black';
  src: url('../fonts/HelveticaNeue-Black.eot');
  src: url('../fonts/HelveticaNeue-Black.otf') format("opentype"), url('../fonts/HelveticaNeue-Black.woff') format("woff"), url('../fonts/HelveticaNeue-Black.ttf') format("truetype"), url('../fonts/HelveticaNeue-Black.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}




@import 'variables';
@import 'functions';
@import 'animate.sass';
@import 'keyframes';
@import 'global';
@import 'flexness';
@import 'buttons';
@import 'icons';
@import 'modals';
@import 'notifications';
@import 'forms';
@import 'footer';
@import 'navigation';
@import 'cards';
@import 'frontpage';
@import 'overviews';
