@font-face {
  font-family: 'AmericanTypewriter-Light';
  src: url('../fonts/AmericanTypewriter-Light.eot');
  src: url('../fonts/AmericanTypewriter-Light.woff') format("woff"), url('../fonts/AmericanTypewriter-Light.ttf') format("truetype"), url('../fonts/AmericanTypewriter-Light.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericanTypewriter-Bold';
  src: url('../fonts/AmericanTypewriter-Bold.eot');
  src: url('../fonts/AmericanTypewriter-Bold.woff') format("woff"), url('../fonts/AmericanTypewriter-Bold.ttf') format("truetype"), url('../fonts/AmericanTypewriter-Bold.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AmericanTypewriter';
  src: url('../fonts/AmericanTypewriter.eot');
  src: url('../fonts/AmericanTypewriter.woff') format("woff"), url('../fonts/AmericanTypewriter.ttf') format("truetype"), url('../fonts/AmericanTypewriter.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

@import 'variables';
@import 'buttons';
@import 'modals';
@import 'notifications';
@import 'forms';
@import 'footer';

body {
  font-family: $sans-serif;
}

svg {
  fill: currentColor;
}

// Allow for a footer that is always at the bottom regardles of content in
// content container
.main-wrap {
  min-height: 100vh;
}

.main-content {
  padding-bottom: $spacer-lg * 2;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-grow {
  flex-grow: 1;
}

.container-fluid {
  max-width: $media-large;
}

a {
  color: $color-primary;
  &:hover, &:active,  {
    color: $color-primary-dark;
  }
  .fa {
    color: #337ab7;
    margin-left: 0.1em;
    &:hover {
      color: #337ab7;
      margin-left: 0.1em;
    }
  }
}

.no-wrap {
  white-space: nowrap;
}

.title {
  font-family: $serif-bold;
  font-weight: bold;
}

h1.title {
  font-size: 24px;
}

h3.title {
  font-size: 18px;
}

.improvement-info {
  line-height: 1.6rem;
}

.navbar {
  border: none;
  border-radius: 0px;
  font-family: $serif;

  &-bottom {
    background-color: $color-primary;
    min-height: 0.8rem;
    height: 4.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  &-brand {
    color: black !important;
    font-family: $serif-bold;
    font-size: 2.2rem;
    font-weight: bold;
    @media (max-width: $media-medium) {
      font-size: 1.5rem;
    }
  }

  &-logo {
    height: 1.5rem;
  }

  &-nav {
    @media (min-width: $media-medium) {
      margin: 1px 0 -1px 30px;
    }
  }

  &-top {
    padding: 1.2rem 0;
    margin-bottom: 0px;
    background-color: white;
  }

  &-collapse {
    @media (max-width: $media-medium) {
      clear: both;
    }
  }
}


.navbar-default .navbar-nav {
  font-size: 18px;

  > .active > a {
    color: $color-primary;
    background: white;

    &:hover, &:focus {
      color: $color-primary;
      background: white;
    }
  }
}

/*
.navbar-collapse {
  border-top: 0;
  padding: 0;

  @media (min-width: $media-medium) {
    padding: 0 15px;
  }
}
*/

.navbar-right {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  font-family: $sans-serif;
  margin-right: 1rem;
  height: 50px; // ugly fix to center veritcally

  > li {
    display: inline-block;
  }

  .profile-photo {
    margin-right: $spacer-sm;
    border-radius: $border-radius;
    overflow: hidden;
  }

  .btn {
    font-weight: bold;
  }

  .btn-link {
    border-radius: $border-radius;
    margin-right: 5px;
  }
}

.white-text {
  color: #ffffff;
}

.red-text {
  color: $color-primary;
}

.gray-text {
  color: $color-gray-light;
}

.more {
  margin-bottom: 2em;
}

/* Form label tooltips */

.label-tooltip + .tooltip {
  > .tooltip-inner {
    background-color: #eee;
    color: black;
    padding: 1em;
    font-size: 1.1em;
    text-align: left;
  }
  &.right > .tooltip-arrow {
    border-right: 5px solid #eee;
  }
}

.flag-icon {
  margin-right: 0.2em;
}

.profile-photo {
  width: 42px;
  height: 42px;

  .profile-photo-img {
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
}

#cookies-notice {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #262626;
  opacity: 0.95;
  color: white;
  padding: 1em;
  font-size: 0.9em;

  form {
    margin: 0 auto;
    padding: 0 1em;
    max-width: 910px;
    display: flex;
    align-items: center;

    .btn {
      margin-left: 2em;
      font-size: 0.8em;
    }
  }

}

.note-editor,
.summernote-content {
  h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  h1 {
    font-family: 'AmericanTypewriter-Bold','Arial';
    font-weight: bold;
    color: #8d8479 !important;
    font-size: 24px;
    margin-top: 0;
  }

  h2 {
    font-size: 16px;
  }

  h3 {
    font-size: 15px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 13px;
  }

  h6 {
    font-size: 12px;
  }

  .btn-sm {
    padding: 0 10px;
    height: 30px;

    .fa {
      font-size: 16px;
    }
  }
}
