.section--cards{
  position: relative;
  padding-bottom: 140px;
  @include breakpoint($media-medium){
    padding-bottom: 40px;
  }
  &--header{
    a.btn{
      position: absolute;
      bottom: 20px;
      width: calc(100% - 30px);
      @include breakpoint($media-medium){
        position: static;
        width: 100%;
      }
    }
  }
}
.cards{
  overflow-x: scroll;
  @include breakpoint($media-large){
    overflow: hidden;
  }
  >div{
    // height: 100%;
  }
}
.card{
  width: 80vw;
  @include breakpoint($media-medium){
    width: auto;
  }
  .stories &{
    background: $color-gray-lightest;
    // padding: 20px;
  }
  .sidebar.stories &{
    background: $color-gray-lighter;
  }
  .tools &{
    background: white;
  }
  &__category{
    border-bottom: 1px solid rgba($color-gray-light, 0.5);
    margin-bottom: 30px;
    height: 40px;
  }
  &__img{
    width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $color-gray-lightest;
  }
  &__content{
    padding: 20px;
    border: 1px solid $color-gray-lightest;
  }
  h4{
    margin-bottom: 20px;
  }
  a{
    color: black;
  }
  p{
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 40px;
   
  }
  &__footer{
    height: 42px;
    height: 52px;
    .stories &{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      .profile-photo{
        width: 42px;
        margin-right: 10px;
      }
      .user-info{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
    .workarea &{
      justify-content: flex-end;
      align-items: center;
    }
    h5{
      margin: 0;
      .workarea &{
        position: absolute;
        left: 15px;
      }
      a{
        color: $color-primary;
      }
    }
  }
  &__counter{
    color: $color-primary;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    div{
      margin-right: 15px;
    }
    span{
      display: inline-block;
      margin-right: 5px;
    }
    img{
      margin-right: 5px;
    }
  }

}


// $color-gray-dark: #333;
// $color-gray: #555;
// $color-gray-light: #777;
// $color-gray-lighter: #E5E5E5;
// $color-gray-lightest: #F4F4F4;