.footer {
  background-color: black;
  position: relative;
  padding-top: 100px;
  @include breakpoint($media-medium){
    padding: $spacer-lg * 1.5 0;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: $spacer-lg;
    background: linear-gradient( to bottom, rgba(0,0,0,.15), rgba(0,0,0,0));
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    &:before {
      display: none;
    }
    > div{
      position: static;
    }
  }
  li{
    border-bottom: 1px solid $color-gray-light;
    padding: 5px 0;
    font-family: HelveticaNeue-Bold;
    font-size: 16px;
    line-height: 34px;
  }
  &__img-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 1px solid $color-gray-light;
    padding-top: 20px;
    padding-bottom: 20px;
    @include breakpoint($media-medium){
      border: none;
      padding-top: 0;
      padding-bottom: 0;
      align-items: flex-start;
    }
    @include breakpoint($media-large){
      align-items: flex-end;
    }
  }

  &__title {
    color: white;
    font-family: $serif-bold;
    font-weight: bold;
    padding-bottom: $spacer-sm;
    font-size: 25px;
    margin-top: 0;
  }

  &__link {
    color: white;

    &:hover, &:focus {
      color: darken($color-footer-link, 10%);
    }
  }
  &__contact *{
    font-size: 16px;
  }
  &__license {
    width: 120px;
    height: 20px;
    // margin-top: $spacer-sm;
    // margin-bottom: $spacer-lg;
    color: $color-gray-light;
  }

  &__actionaid {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid $color-gray-light;
    max-width: 100%;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    padding-left: 15px;
    @extend .flex-vertical !optional;
    @include breakpoint($media-medium){
      position: static;
      border: none;
      padding: 0;
      display: block;
      width: 30%;
    }
    @include breakpoint($media-large){
      width: 100%;
    }
    svg{
      height: auto;
      width: 50%;
      @include breakpoint($media-medium){
        width: 100%;
      }
    }
  }
}
