.icon{
  height: 22px;
  width: 22px; 
  display: inline-block;
  margin-right: 5px;
  &--big{
    height: 45px;
    width: 45px;
    .search & {
      margin-bottom: 5px;
    }
  }
  &--white{
    fill: white;
  }
  &--black{
    fill: black;
  }
  &__bordered{
    // padding: 10px;
    @extend .flex-center !optional;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 50%;
    .icon{
     margin: 0;
    }
  }
  &__rounded{
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    padding: 8px;
    bottom: -25px;
    &--black{
      background: black;
      fill: white;
    }
    @include breakpoint($media-large){
      left: 0;
    }
    &--overlay{
      &:after{
        content: '';
        height: 100%;
        width: 100%;
        background: rgba(black, 0.2);
        left: 0px;
        top: 0;
        border-radius: 50%;
        position: absolute;
        animation: scale 1s 1s forwards;
        display: none;
        @include breakpoint($media-large){
          display: block;
        }
      }
    }
    .icon{
      height: 100%;
      width: 100%;
      fill: white;
    }
  }
}