@keyframes scale{
  100%{
    transform: scale(1.5)   
  }
}

@keyframes transformNone{
  100%{
    transform: none;
  }
}

@keyframes fadeOut{
  100%{
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
  }
  //100%{
    // opacity: 0;
    // display: none;
    // height: 0;
    // border: none;
    // padding: 0;
    // margin: 0;
  //}
}
