@keyframes scale{
  100%{
    transform: scale(1.5)   
  }
}

@keyframes transformNone{
  100%{
    transform: none;
  }
}

@keyframes fadeOut{
  100%{
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
  }
}

@keyframes alertFade{
  0%{
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
  }
  10%{
    opacity: 1;
    transform: translateY(0%);
    pointer-events: all;
  }
  70%{
    opacity: 1;
    transform: translateY(0%);
  }
  100%{
    opacity: 0;
    transform: translateY(-100%);
    pointer-events: none;
  }
}
$distance: 20px;
@keyframes frontFadeInOut{
  0%{
    opacity: 0;
    transform: translateY(-$distance);
  }
  50%{
    opacity: 1;
    transform: translateY(-0px);
  }
  100%{
    opacity: 0;
    // transform: translateY($distance);
  }
}
@keyframes frontFadeIn{
  0%{
    opacity: 0;
    transform: translateY(-$distance);
  }
  50%{
    opacity: 1;
    transform: translateY(0px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}