.modal {

  &.in {
    display: flex !important;
    align-items: center;
  }

  &-dialog {
    width: 100%;
    max-width: 600px;
  }

  &-content {
    border: 2px solid $color-primary-dark;
    border-radius: $border-radius-big;
  }

  &-header {
    background-color: $color-primary-dark;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    border-radius: 0;
    color: white;
    font-family: $serif-bold;
    text-align: center;

    h3 {
      padding: $spacer-lg 0;
    }
  }

  &-body {
    font-weight: $medium-weight;
    font-size: 1.5rem;
    padding: $spacer-lg $spacer-md 0;
  }

  &-footer {
    border-top: 0;
  }

  .close {
    font-size: 4rem;
    line-height: 1;
    font-family: $sans-serif;
    font-weight: 200;
    color: white;
    margin-right: -$spacer-xs;
    margin-top: -$spacer-md;
    opacity: 0.4;

    &:hover, &:focus {
      opacity: 1;
    }
  }
}

#verified-email-required-modal:not(.email-sent) {
  .after-email-sent {
    display: none;
  }
}
#verified-email-required-modal.email-sent {
  .before-email-sent {
    display: none;
  }
}
#signup-confirm-modal:not(.signup-success) {
  .after-signup-success {
    display: none;
  }
}
#signup-confirm-modal.signup-success {
  .before-signup-success {
    display: none;
  }
}
#signoff-confirm-modal:not(.signoff-success) {
  .after-signoff-success {
    display: none;
  }
}
#signoff-confirm-modal.signoff-success {
  .before-signoff-success {
    display: none;
  }
}
