$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'AmericanTypewriter', Arial;
$serif-bold: 'AmericanTypewriter-Bold', Arial;
$medium-weight: 500;
$bold-weight: 600;

// Colors
$color-primary: #ed1c24;
$color-primary-dark: #bf0d13;
$color-sand: #c2c1b8;
$color-footer-link: #554A3C;

// Grays
$gray: #555;
$gray-light: #737373;

// Radius
$radius: 4;
$border-radius: #{$radius}px;
$border-radius-big: #{2*$radius}px;

// Breakpoints
$media-large: 1170px;
$media-medium: 768px;

// Spacers
$spacer-base: 5px;
$spacer-xs: 5px;
$spacer-sm: 5px * 2;
$spacer-md: 5px * 3;
$spacer-lg: 5px * 6;
