$sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif: 'AmericanTypewriter', Arial;
$serif-bold: 'AmericanTypewriter-Bold', Arial;

$color-primary: #ed1c24;
$color-primary-dark: #bf0d13;

$border-radius: 4px;

$media-large: 1170px;
$media-medium: 768px;
