@import '../../../../netbox/static/netbox/css/variables';

#comment-form-box {
  margin-top: 1em;
}

#comments { margin: 1em 0; }

.comment-item {

  .profile-photo {
    width: 55px;
    height: 55px;
    margin-bottom: $spacer-md;
  }

  .flag-icon {
    margin: 0px 2px 0px 0px;
    padding: 0px 2px 0px 0px;
  }
}

.comment-author-name {
    font-weight: bold;

    a {
      color: black;
      text-decoration: none;
    }
}

.comment-added-dt {
    color: grey;
}

.comment-vline {
    border-right: thick solid gray;
    width: 55px;
    margin-right: 20px;
    padding-right: 50px;
}

.comment-replies {
    margin-right: 0;
    padding-left: 0;
}

.comment-replies-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    margin-bottom: 10px;
}

.comment-reply-form-box .profile-thumbnail-img {
    width: 55px;
}
