.note-style, .note-font, .note-color, .note-para, .note-height, .note-view, .note-help {
  display: none;
}

.story-title {
  margin-top: 0.5em;
}

.story-title-created {
  font-size: 12px;
  color: #8d8479;
  font-family: 'Helvetica Neue', 'Arial';
  font-weight: normal;
  margin-left: 0.3em;
}

.story-content img {
  max-width: 100%;
}

.story-user {  

  .story-user-photo {

    .profile-photo {
      width: 85px;
      height: 85px;
    }
  
  }

  .story-user-details {

    h4 {
      font-weight: bold;
      margin: 0 0 0.3em 0;
      font-size: 14px;
    
      a {
        color: black;
        
        &:hover {
          text-decoration: none;
        }

      }

    }

  }

  .story-user-bio {
    font-size: 0.9em;
  }

}

.related-stories {
  margin-left: -15px;
  h4 {
    font-weight: bold;
    margin-bottom: 0.1em;
    a:hover {
      text-decoration: none;
    }
  }
  .list-group-item {
    border: 0;
    padding-top: 0;
    a {
      color: black;
      font-weight: bold;
    }
  }
}

.story-contributor {
  margin: 1em 0;
}
