 .note-style,
 .note-font,
 .note-color,
 .note-para,
 .note-height,
 .note-view,
 .note-help {
  display: none;
 } 
  
.story-item {
  margin-top: 1em;
  margin-bottom: 2em;
}

.story-item h4 {
  margin: 0; 
  font-size: 16px;
}

.story-item .story-user {
  margin-bottom: 2em;
  width: 65px;
}  
  
.story-item .story-user .story-user-name {
    font-size: 0.9em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-align: center;
}

.story-item .story-user img {
  width: 65px;
}

.story-item .story-details {
  color: #aaa;
  margin: 0.3em 0 0.7em 0;
}

.tool-title {
  color: #ed1c24;
}

.story-tool {
  margin-top: 1.5em;
}

.story-tool a {
  font-weight: bold;
}

.story-title {
  margin-top: 0.5em;
}

.story-title-created {
  font-size: 12px;
  color: #8d8479;
  font-family: 'Helvetica Neue', 'Arial';
  font-weight: normal;
  margin-left: 0.3em;
}

.story-user-image img {
  width: 100%;
}

.story-user-details h4 {
  font-weight: bold;
  margin: 0 0 0.3em 0;
  font-size: 14px;
}

.story-user-details h4 a {
  color: black;
}

.story-user-details h4 a:hover {
  text-decoration: none;
}

.story-user-bio{
  ront-size: 0.9em;
}

.related-stories {
  margin-left: -15px;
}

.related-stories h4 {
  font-weight: bold;
  margin-bottom: 0.1em;
}

.related-stories h4 a:hover {
  text-decoration: none;
}

.related-stories .list-group-item {
  border: 0;
  padding-top: 0;
}

.related-stories .list-group-item a {
  color: black;
  font-weight: bold;
}
