.cover-image{
  overflow: hidden;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.resource-box{
  background-color: #C2C1B8;
  overflow: hidden;
  padding: 0px 1em 0.5em 1em;
}

.expanded{
  height: auto;
}

.hidden{
  visibility: hidden;
}

.resource-buttons{
  min-height: 5rem;
  background-color: #8D8479;
  border-radius: 0em 0em 0.5em 0.5em;
}

.resource-buttons .btn{
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem 0 0.5rem;
}

.help-improve a {
  margin: 0 0 1.5em 0;
}

.btn-outline {
    background-color: transparent;
    border-width: 2px;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    border-color: black;
}

.btn-primary.btn-outline:hover {
    color: black;
}

.resource-box a{
  color: black;
}
.resource-title {
  font-size: 1.3rem;
  line-height: 1.5rem;
  max-height: 3.2rem;
  overflow: hidden;
  width: 60%;

  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
  text-decoration: none;
}

.resource-item {
  margin: 1rem 0 2rem;
  height: 2.25rem;
}

.resource-link:hover {
  color: white !important;
  text-decoration: none;
}

.resource-box .resource-action {
  font-size: 2.25rem;
}

.resource-box p {
    font-size: 1.2rem;
}

.resource-icon{
  font-size: 3rem !important;
  width: 3rem;
}

.resource-action:hover{
  color: white;
}

.usage-indicator{
  margin: 20px 0 20px;
  min-height: 100px;
  background-color: #8D8479;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px;
}

.usage-indicator div{
  margin-top: 5px;
  margin-bottom: 5px;
}

.usage-indicator h3,
.usage-indicator p{
  color: white;
  margin: 0px;
}


.usage-indicator h3{
  font-size: 2.5rem;
}
.usage-indicator p{
  font-size: 1.5rem;
}

.btn-usage{
  font-weight: bold;
  background-color: white;
  color: #8D8479;
}

.btn-usage:hover{
  background-color: #F5F5F5;
  color: #8D8479;
}

#usage-modal{
  margin-top: 40vh;
}
#usage-modal .modal-content{
  padding: 8px;
}

#usage-modal button{
  background-color:black;
}

#usage-modal h3{
  margin: 0.8rem 0 0.7rem;
}

#usage-modal p{
  font-size: 1.8rem;
}

.summernote-container{
  overflow: hidden;
  word-wrap: break-word;
}

.summernote-container p[style],
.summernote-container span[style], {
  font-size: 15px !important;
  font-family: 'Helvetica Neue', 'Arial' !important;
}

.summernote-container img{
  max-width: 100% !important;
}

.summernote-container p{
  font-size: 14px;
}

.summernote-container img {
  width: 100%;
}

.summernote-container .title,
.resource-box .title {
  font-family: 'AmericanTypewriter','Arial';
}

.resource-item i {
    color: inherit;
    vertical-align: middle !important;
}

iframe {
  width: 100%;
}

.unpublished-banner{
  background-color: #ED1C24;
  height: 25%;
  width: 100%;
  line-height: 25%;
  color: white;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.unpublished-banner:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tool-item {
  margin-bottom: 10px;
}

.tool-image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
  background: #8D8478;
}

.tool-image img{
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: 100%;
  min-width: 100%;
}

.tool-cover-image{
  overflow: hidden;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.tool-content{
  line-height: 1.5rem;
}

.tool-content h3{
  text-decoration: none;
  word-wrap: break-word;
  margin: 0.8rem 0 0.4rem;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

.tool-content a:hover{
  text-decoration: none;
}
