.cover-image{
  overflow: hidden;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.resource-box{
  background-color: #C2C1B8;
  overflow: hidden;
  padding: 0px 1em 0.5em 1em;
  border-radius: 0.5em;
}

.expanded{
  height: auto;
}

.hidden{
  visibility: hidden;
}

.resource-buttons{
  min-height: 5rem;
  background-color: #8D8479;
  border-radius: 0em 0em 0.5em 0.5em;
}

.resource-buttons .btn{
  width: 100%;
  height: 3.5rem;
  margin: 0.5rem 0 0.5rem;
}

.btn-outline {
    background-color: transparent;
    border-width: 2px;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    border-color: black;
}

.btn-primary.btn-outline:hover {
    color: black;
}

.resource-box a{
  color: black;
}
.resource-title {
  font-size: 1.3rem;
  line-height: 1.5rem;
  max-height: 3.2rem;
  overflow: hidden;
  width: 60%;

  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
  text-decoration: none;
}

.resource-item {
  margin: 1rem 0 2rem;
  height: 2.25rem;
}

.resource-link:hover {
  color: white !important;
  text-decoration: none;
}

.resource-box .resource-action {
  font-size: 2.25rem;
}

.resource-box p {
    font-size: 1.2rem;
}

.resource-icon{
  font-size: 3rem !important;
  width: 3rem;
}

.resource-action:hover{
  color: white;
}

.usage-indicator{
  margin: 20px 0 20px;
  min-height: 100px;
  background-color: #8D8479;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 10px;
}

.usage-indicator h3,
.usage-indicator p{
  color: white;
  margin: 0px;
}


.usage-indicator h3{
  font-size: 2.5rem;
}
.usage-indicator p{
  font-size: 1.5rem;
}

.btn-usage{
  font-weight: bold;
  background-color: white;
  color: #8D8479;
}

.btn-usage:hover{
  background-color: #F5F5F5;
  color: #8D8479;
}

#usage-modal{
  margin-top: 40vh;
}
#usage-modal .modal-content{
  padding: 8px;
}

#usage-modal button{
  background-color:black;
}

#usage-modal h3{
  margin: 0.8rem 0 0.7rem;
}

#usage-modal p{
  font-size: 1.8rem;
}

.summernote-container{
  overflow: hidden;
  word-wrap: break-word;
}

.summernote-container p[style],
.summernote-container span[style], {
  font-size: 15px !important;
  font-family: 'Helvetica Neue' !important;
}

.summernote-container img{
  max-width: 100% !important;
}

.summernote-container p{
  font-size: 14px;
}

.summernote-container img {
  width: 100%;
}

.summernote-container .title,
.resource-box .title,
.title{
  font-family: 'AmericanTypewriter';
}

.resource-item i {
    color: inherit;
    vertical-align: middle !important;
}

iframe {
  width: 100%;
}
