@import '../../../../netbox/static/netbox/css/variables';

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.cover-image {
  overflow: hidden;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.resource-box {
  background-color: $color-sand;
  overflow: hidden;
  padding: 0px 1em 0.5em 1em;
  margin: 0 0 1em 0;
}

.expanded {
  height: auto;
}

.hidden {
  visibility: hidden;
}

.resource-buttons {
  min-height: 5rem;
  background-color: #8D8479;
  border-radius: 0em 0em 0.5em 0.5em;
  .btn {
    width: 100%;
    height: 3.5rem;
    margin: 0.5rem 0 0.5rem;
  }
}

.tool-followers {

  .tool-follower {
    margin: 0 2.5% 2.5% 0;

    .profile-photo {
      width: 45px;
      height: 45px;
    }
  }

}

.help-improve {
  a {
    margin: 0 0 1.5em 0;
  }
  .btn-primary {
    width: 150px;
    padding: 0.7em 0;
  }
}

.btn-outline {
  background-color: transparent;
  border-width: 2px;
  color: inherit;
  transition: all .5s;
}

.btn-primary.btn-outline {
  border-color: black;
  &:hover {
    color: black;
  }
}

.resource-box a {
  color: black;
}

.resource-title {
  font-size: 1.3rem;
  line-height: 1.5rem;
  max-height: 3.2rem;
  overflow: hidden;
  width: 60%;
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
  text-decoration: none;
}

.resource-item {
  margin: 1rem 0 2rem;
  height: 2.25rem;
}

.resource-link:hover {
  color: white !important;
  text-decoration: none;
}

.resource-box {
  .resource-action {
    font-size: 2.25rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.resource-icon {
  font-size: 3rem !important;
  width: 3rem;
}

.resource-action:hover {
  color: white;
}

.usage-indicator {
  margin: $spacer-md 0;
  padding: $spacer-md 0;
  background-color: #8D8479;
  .usage-title {
    padding-top: 1.5 * $spacer-xs;
    padding-bottom: 1.5 * $spacer-xs;
  }
  .usage-followers {
    padding-top: 1.5 * $spacer-xs;
  }
  form {
    margin: 0;
  }
  h3, p {
    color: white;
    margin: 0px;
  }
  h3 {
    font-family: 'AmericanTypewriter-Light','Arial';
    font-size: 18px;
  }
  p {
    font-size: 1.5rem;
  }
}

.btn-usage {
  background-color: white;
  color: #8D8479;
  &:hover {
    background-color: #F5F5F5;
    color: #8D8479;
  }
}

#usage-modal {
  margin-top: 40vh;
  .modal-content {
    padding: 8px;
  }
  button {
    background-color: black;
  }
  h3 {
    margin: 0.8rem 0 0.7rem;
  }
  p {
    font-size: 1.8rem;
  }
}

.summernote-container {
  overflow: hidden;
  word-wrap: break-word;
  p[style], span[style] {
    font-size: 15px !important;
    font-family: 'Helvetica Neue', 'Arial' !important;
  }
  img {
    max-width: 100% !important;
  }
  p {
    font-size: 14px;
  }
  img {
    width: 100%;
  }
}

.resource-box .title {
  font-family: 'AmericanTypewriter-Bold','Arial';
  font-size: 24px;
}

.resource-item i {
  color: inherit;
  vertical-align: middle !important;
}

iframe {
  width: 100%;
}

.unpublished-banner {
  background-color: #ED1C24;
  height: 25%;
  width: 100%;
  line-height: 25%;
  color: white;
  font-weight: 700;
  text-align: center;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

.tool-item {
  margin-bottom: 10px;
}

.tool-image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  background: #8D8478;
  img {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
    height: 100%;
    min-width: 100%;
  }
}

.tool-cover-image {
  overflow: hidden;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 2rem;
}

.tool-content {
  line-height: 1.5rem;
  h3 {
    text-decoration: none;
    word-wrap: break-word;
    margin: 0.8rem 0 0.4rem;
    font-size: 18px;
    font-weight: 600;
    color: black;
  }
  a:hover {
    text-decoration: none;
  }
}

#stories {

  .story {
    margin: 1.5em 0;

    h3 {
      font-size: 16px;
      font-weight: bold;
      margin: 0;

      a {
        color: black;

        &:hover {
          text-decoration: none;
        }

      }

    }

    .story-user {

      .profile-photo {
        width: 55px;
        height: 55px;
      }

      .story-user-name {

        a {
          color: black;
          text-decoration: none;
        }

      }

    }

    .story-content  {
      padding-right: 1em;

      a {
        color: black;
        font-weight: bold;
      }
    }

    .story-user-country {
      font-size: 22px;
    }

    .story-user-name {
      font-size: 12px;
      font-weight: bold;
      margin: 0.3em 0;
    }

  }

}

.show-all {
  margin: 1em 0;
  font-weight: bold;

  a { color: black; }
  a:hover { text-decoration: none; }

}

.filter-buttons {
  width: 100%;
  text-align: right;
  font-family: 'Helvetica Neue', 'Arial';
  a {
    font-weight: 700;
  }
  margin: 1em 0;
}

.overview-description {
  padding: 0 0 2em 0;
  max-width: 50rem;
}

.tools__dropdown {
  margin: 0 0 1em 0;
  padding-left: 24px;
  background-image: url('/static/tools/images/ic_sort_by_alpha_black_24dp_1x.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 5px 3px;

  .dropdown-toggle.btn-default {
    border: 0;
    font-size: 12px;
    padding: 6px 3px 6px 6px;
  }

  .dropdown-toggle.btn-default,
  .dropdown-toggle.btn-default:hover,
  .dropdown-toggle.btn-default:active {
    background: white;
    border: 0;

    .caret {
      font-size: 20px;
    }
  }

  &.open>.dropdown-toggle.btn-default,
  &.open>.dropdown-toggle.btn-default:hover {
    background: white;
    border: 0;
  }

  .dropdown-menu {

    min-width: 0;
    border: 1px solid black;
    border-radius: 0;

    li {

      font-size: 12px;
      padding: 0;
      margin: 0;

      a {
        color: $color-sand;
        padding: 3px 8px;
      }

      a:hover {
        background: #ed1c24;
        color: white;
      }
    }
  }
}
