{% extends 'email_base.html'%}
{% block email_content %}

<p>You receive this email because {% if suggestion.author.profile %}{{suggestion.author.profile.name}}{% endif %}
<a href="mailto:{{suggestion.author.email}}">{{suggestion.author.email}}</a>
 has sent a suggestion to a {{related_object_type}}:
  &quot;<a href="{{BASE_URL}}{{suggestion.related_object.get_absolute_url}}">
{{suggestion.related_object.title}}</a>&quot;</p>

<div><blockquote>
{{suggestion.description}}
</blockquote></div>

{% if suggestion.attachement %}
    <p>{{suggestion.author.email}} has added an 
    <a href="{{MEDIA_URL}}{{suggestion.attachement.url}}">attachment</a></p>
{% endif %}

{% endblock %}