{% extends "base.html" %}
{% load bootstrap3 %}

{% block head_statics %}
{{ form.media }}

{% endblock %}

{% block head_title %}{{ page.title }}{% endblock %}

{% block main %}
  {% if perms.pages.change_page %}
    <div class="pull-right edit-pages-menu">
      <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-default"
           href="{% url 'pages:edit_page' page.slug %}">
          Edit page
        </a>
        <div class="dropdown btn-group">
          <button class="btn btn-default btn-dropdown" type="button" id="allEditPages" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Edit other pages
          </button>
          <ul class="dropdown-menu" aria-labelledby="allEditPages">
            <li class="dropdown-header">Published pages</li>
          {% for published_page in published_pages %}
            <li>
              <a href="{% url 'pages:edit_page' published_page.slug %}">
                {{ published_page.title }}
              </a>
            </li>
          {% endfor %}
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Draft pages</li>
          {% for drafted_page in drafted_pages %}
            <li>
              <a href="{% url 'pages:edit_page' drafted_page.slug %}">
                {{ drafted_page.title }}
              </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>

    </div>
  {% endif %}

  <h1 class="title no-top-margin">{{ page.title }}</h1>
  <div class="summernote-content">{{ page.content |safe }}</div>
{% endblock %}
