{% load i18n %}
{% load account %}

<!-- LoginRequired -->
<div
  class="modal fade"
  id="login-required-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="login-required-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="login-required-modal-label">Log In Required</h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <p>{% blocktrans %}You need to be logged in. If don't have an account yet, then please sign up.{% endblocktrans %}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="{% url 'account_signup' %}"
          class="btn btn-link">
          Sign Up
        </a>
        <a href="{% url 'account_login' %}?next={{ request.path }}"
          class="btn btn-primary">
          Log In
        </a>
      </div>
    </div>
  </div>
</div>
