{% load commontags %}
{% load static %}
{% load humanize %}

<div class="panel panel-default activity">
  <div class="panel-body">
    <span class="activity-created pull-right"
      title="{{ activity.created | date:"F j, Y \a\t P" }}">
      {{ activity.created | naturaltime }}
    </span>
    <div class="activity-title flex-vertical">
      {% if activity.entry_type == 'add_story' %}
        {% svg_icon icon_id="stories" icon_classes="icon--black" %}
      {% elif activity.entry_type == 'add_comment' or activity.entry_type == 'add_comment_reply' %}
        {% svg_icon icon_id="comment" icon_classes="icon--black" %}
      {% elif activity.entry_type == 'used_tool' %}
        {% svg_icon icon_id="tools" icon_classes="icon--black" %}
      {% endif %}
      {% if activity.user == user %}
        You
      {% else %}
        <a href="{{ activity.user.profile.get_absolute_url }}">
          {{ activity.user.first_name }}</a>
      {% endif %}
      {% if activity.entry_type == 'add_story' %}
        wrote a story regarding
      {% elif activity.entry_type == 'add_comment' %}
        commented on <!-- the story / the tool -->
      {% elif activity.entry_type == 'add_comment_reply' %}
        replied to a comment on
      {% elif activity.entry_type == 'used_tool' %}
        {% if activity.user == user %}
          have
        {% else %}
          has
        {% endif %}
        added
      {% endif %}
      <a href="{{activity.link}}">{{activity.title}}</a>
      {% if activity.entry_type == 'used_tool' %}
        as a "tool I have used"
      {% endif %}
    </div>
    {% if activity.content %}
      <p class="activity-content">
        {{ activity.content | bleach_striptags | truncatechars:220 }}
      </p>
    {% endif %}
  </div>
</div>
<!-- li>
    <h4>
        {% if activity.entry_type == 'add_story' %}
            <span class="glyphicon glyphicon-align-left"></span>
        {% elif activity.entry_type == 'add_comment' or activity.entry_type == 'add_comment_reply' %}
            <span class="glyphicon glyphicon-comment"></span>
        {% endif %}
        <div class="activity-title">
            {{activity.user.first_name}}
            {% if activity.entry_type == 'add_story' %}
                wrote a story regarding
            {% elif activity.entry_type == 'add_comment' %}
                commented on
            {% elif activity.entry_type == 'add_comment_reply' %}
                replied to a comment on
            {% endif %}
            <a href="{{activity.link}}#{% if activity.entry_type == 'add_story' %}stories{% else %}comments{% endif %}">
                {{activity.title}}
            </a>
            <span class="activity-created">{{activity.created | date:"F j, Y \a\t P" }}</span>
        </div>
    </h4>
    <div class="activity-content">{{ activity.content|bleach_striptags|truncatechars:220 }}</div>
</li -->
