{% extends "base.html" %}
{% load bootstrap3 %}
{% load commontags %}
{% load static %}

{% block head_statics %}
<link rel="stylesheet" href="{% static "css/activities.min.css" %}">
{% endblock %}

{% block head_title %}All activity - {% endblock %}

{% block main %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="title">All activity</h1>

    <div class="activities">
      {% for activity in activities %}
        {% include "activities/_entry.html" %}
      {% empty %}
        <p class="no-activities">No activity yet ...</li>
      {% endfor %}
  </div>
</div>
{% endblock %}
