{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}

{% block head_title %}Edit Resource{% endblock %}

{% block main %}
<h1>Edit Resource</h1>

<form method="POST" action="{% url 'resources:edit' resource.id %}" class="form" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
</form>

{% endblock %}
