{% load toolstags %}
{% load partition_slice %}
{% load commontags %}

<div class="workareas">
    {% for category_group in categories_by_group %}
        <div id="workarea-{{category_group.id}}" class="workarea row">
            <div class="col-md-9">
                <h1 class="title">
                    {% if category_group.categories.count > 0 %}
                        <a id="category-group-{{category_group.id}}-link" href="{% url 'tools:show_categorygroup' category_group.id %}">
                            <span class="glyphicon glyphicon-triangle-right"></span>
                            {{category_group.name}}
                        </a>
                    {% else %}
                        <span class="toggle-off">{{category_group.name}}</span>
                    {% endif %}
                    {% if perms.tools %}{% if perms.tools.edit_categorygroup %}
                        <a href="{% url 'tools:edit_categorygroup' category_group.id %}"><i class="fa fa-edit"></i></a>
                        <a href="{% url 'tools:delete_categorygroup' category_group.id %}"><i class="fa fa-trash-o"></i></a>
                    {% endif %}{% endif %}
                </h1>
                <p>{{category_group.description}}</p>
            </div>
        </div>
        
        
    {% empty %}
        <p>There are no items available.</p>
    {% endfor %}
</div>
