{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load toolstags %}
{% load partition_slice %}
{% load commontags %}
{% load compress %}
{% load profilestags %}


{% block head_statics %}
{% compress js %}
<script src="{% static "js/tools.js"%}"></script>
{% endcompress %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/tool.min.css" %}">
<link rel="stylesheet" href="{% static "css/category.min.css" %}">
{% endcompress %}
{% endblock %}

{% block head_title %}{{ category_group.name }} - {% endblock %}

{% block main %}

<div class="row">
     <div class="col-md-8 col-sm-12 summernote-container">
        
    
    <div class="col-md-8 col-xs-12">
       <h1 class="title">{{category_group.name}}
       </h1>
         <p class="category-description">
           {{ category_group.description }}
           {% if perms.tools %}{% if perms.tools.change_category %}
           <a href="{% url 'tools:edit_categorygroup' category_group.id %}"><i class="fa fa-edit"></i></a>
           {% endif %}{% endif %}
         </p>
         <p class="tool-description summernote-content more">
          {{ category_group.main_text }}
    </div>
  </div>
{% if perms.tools %}{% if perms.tools.add_toolcategory %}
            <a class="btn btn-primary pull-right" href="{% url 'tools:add_category_to_group' category_group.id %}">Add Toolbox</a>
        {% endif %}{% endif %}
    

    <div class="help-improve">


        <h3 class="title">Help improve this Work Area</h3>
        <p>Tell us about your experience in this Work Area, so the community can learn from it.</p>
        <a
          class="btn btn-primary"
          href="{% url 'tools:add_workarea_story' category_group.id %}"
          data-requires-validated-user="true">Add a story</a>
        <p>How can we improve this Work Area? Give us concrete feedback on what you think is missing.</p>
        <a
          class="btn btn-primary"
          href="{% url 'tools:add_suggestion' 'categorygroup' category_group.id %}"
          data-requires-validated-user="true">Add a suggestion</a>
      </div>


</div>

<div class="usage-indicator row">
  <div class="usage-title col-sm-5 col-xs-12">
    
    <h3 class="title">Want to {% if user.id in category_group_follower_ids %}continue{%endif%} follow this Work Area?</h3>
  </div>
  <div class="usage-follow col-sm-2 col-xs-4">
    {% if user.id in category_group_follower_ids %}
    <form action="{% url 'tools:unfollow_work_area' category_group.id %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-usage">
        No, Thank You
      </button>
    </form>
    {% else %}
    <form action="{% url 'tools:follow_work_area' category_group.id %}" method="post">
      {% csrf_token %}
      <button type="submit" name='should_notify' value='1' class="btn btn-usage" data-requires-validated-user="true">
        Yes, please
      </button>
    </form>
    {% endif %}
  </div>
  {%if category_group.followers.count > 0%}
  <div class="usage-followers col-sm-5 col-xs-8 text-right">
    <p>{{ category_group.followers.count }} user{{ category_group.followers.count|pluralize:" is,s are" }} following this Work Area.</p>
  </div>
  {%endif%}
</div>

{% include "category_groups/_categorygroup_categorylist.html" %}

 <h3 class="title">Stories</h3>
      <p>Read stories about this Work Area. If you have experience you would like to share, <a href="{% url 'tools:add_workarea_story' category_group.id %}"
        data-requires-validated-user="true">
        add a story
      </a></p>
      <div id="stories" class="flex-wrapper row">
        {% for story in stories %}
          <div class="story col-md-6 col-sm-6 {% if forloop.counter > 4%}hidden{% endif %}">
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-10">
                <div class="story-user">
                  {% render_profile_photo story.user %}
                  <div class="story-user-name">
                    <a href="{% url 'profiles:show' story.user.profile.uid %}">{{ story.user.profile.short_name }}</a>
                  </div>
                  <div class="story-user-country">
                    <span title="{{story.country.name}}" class="flag-icon flag-icon-{{story.country}}"></span>
                  </div>
                </div>
              </div>
              <div class="col-md-9 col-sm-9 col-xs-10">
                <h3><a href="{% url 'tools:show_story' story.id  %}">{{ story.title }}</a></h3>
                <div class="story-content">
                  {{ story.content|bleach_striptags|truncatechars:150 }}
                  <a href="{% url 'tools:show_story' story.id  %}">Read more</a>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if stories|length > 4 %}
        <div class="show-all">
          <a id="show-all-stories" href="#">Show all</a>
        </div>
      {% endif %}

{% endblock %}
