{% load static %}
{% load commontags %}

<div class="hero-section hero-section--breadcrumbs" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="hero-section__inner flex-vertical" >
          <div class="icon-container-bordered">
            {% svg_icon icon_id=icon icon_classes="icon--black" %}
          </div>
          {% for breadloaf in breadcrumbs %}
          {% if forloop.counter > 1 %}
          {% svg_icon icon_id="chevron" icon_classes="icon--black icon--chevron"%}
          {% endif %}
          <p >
            {{ breadloaf }}
          </p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
