{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
<html>
    <head>
        <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="{% static "css/tool.css" %}">
        <link rel="stylesheet" href="{% static "css/category.css" %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block head_title %}{% endblock %}</title>

        {% block head_statics %}
        {% endblock %}

    </head>
    <body>
      <nav class="navbar navbar-default navbar-top">
        <div class="container">
          <div class="row">


          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="col-md-10 col-md-offset-1">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Networked Toolbox</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'tools:index'%}">Tools<span class="sr-only">(current)</span></a></li>
                <li><a href="{% url 'tools:list_categories'%}">Categories<span class="sr-only">(current)</span></a></li>
                <li><a href="#">Cases<span class="sr-only">(current)</span></a></li>
                <li><a href="#">People<span class="sr-only">(current)</span></a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href=#>{{user.email}}</a></li>
                <li><a href="{% url 'account_logout'%}">Log out</a></li>
                {% else %}
                <li><a href="{% url 'account_login'%}">Log in</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </nav>
      <nav class="navbar navbar-default navbar-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a href="http://actionaid.org" target='_blank' class="navbar-brand"><img class="navbar-logo" src="{% static "images/AA_Logo-white-web.png" %}"></a>
            </div>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              {% bootstrap_messages %}

              {% block main %}
              {% endblock %}
            </div>
        </div>
    </div>
    </body>
</html>
