@import '../../../../netbox/static/netbox/css/variables';

.back-to-search {
    font-size: 17px;
}

.results-item-image-box {
    &__profile {
        width: 175px;
        height: 175px;
        margin-right: 10px;
    }
}

.results-item {
    // padding-left: 0px;
    // margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.results-item-image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    background: #8D8478;

    &__profile {
        width: 170px;
        height: 170px;
        padding-right: 20px;
        .profile-photo {
            width: 170px;
            height: 170px;
        }

    }

    img {
        position: absolute;
        margin: auto;
        height: 100%;
        min-width: 100%;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
    }
}


.results-story-author {
    color: #000;
    font-weight: bold;
}

.results-story-date {
    color: $color-gray-light;
    font-weight: normal;
}


.results-story-content {
    color: #000;
}
