{% load toolstags %} {% load partition_slice %} {% load commontags %} {% load static %} {% load profilestags %}

<div class="overview overview--workarea">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="overview__container">
                {% for category_group in categories_by_group %}
                    <div id="workarea-{{category_group.id}}" class="workarea card">
                        <h3 class="title">
                            {% if category_group.categories.count > 0 %}
                            <a id="category-group-{{category_group.id}}-link" href="{% url 'tools:show_categorygroup' category_group.id %}">
                                {{category_group.name}}
                            </a>
                            {% else %}
                            <span class="toggle-off">{{category_group.name}}</span>
                            {% endif %} {% if perms.tools %}{% if perms.tools.edit_categorygroup %}
                            <a href="{% url 'tools:edit_workarea' category_group.id %}">
                                <i class="fa fa-edit"></i>
                            </a>
                            <a href="{% url 'tools:delete_workarea' category_group.id %}">
                                <i class="fa fa-trash-o"></i>
                            </a>
                            {% endif %}{% endif %}
                        </h3>
                        <p>{{category_group.description}}</p>
                        <div class="card__footer card__counter">
                            <h5>
                                <a href="{{story.get_absolute_url}}">Read more</a>
                            </h5>
                            <div class="card__counter--people flex-vertical">
                                <img src="{% static 'icons/profile.svg' %}" alt="">
                                <span>{{category_group.followers.count}}</span>
                                <span>people</span>
                            </div>
                            <div class="card__counter--comments flex-vertical">
                                <img src="{% static 'icons/comment.svg' %}" alt="">
                                <span>{{category_group.comments.count}}</span>
                                <span>comments</span>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <p>There are no items available.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- RECENT STORIES -->
            <div class="col-md-4 sidebar--overlay sidebar--overlay--gray">
                <div class="stories cards sidebar">
                    <div class="sidebar__header flex-vertical">
                        <div class="icon__rounded icon__rounded--black">
                            <svg class="icon" viewbox="0 0 1 1">
                                <use href="{% static "/icons/comment.svg"%}#comment"></use>
                            </svg>
                        </div>
                        <h4>Recent stories</h4>
                    </div>
                    {% for story in recent_stories %}
                    <div class="card card--story wow fadeinup" data-wow-delay=" 0.{{ forloop.counter }}s">
                        <div class="card__content">
                            <div class="card__category flex-vertical">
                                <img class="icon" src="{% static 'icons/tools.svg' %}" alt="">
                                <h5>{{ story.parent_object_name }}</h5>
                            </div>
                            <h4>
                                <a href="{{story.get_absolute_url}}">{{story.title|truncatechars:50}}</a>
                            </h4>
                            <p>{{story.content|bleach_striptags|truncatechars:130}}</p>
                            <div class="card__footer">
                                <div class="flex-row">
                                    {% render_profile_photo story.user show_name=False %}
                                    <div class="user-info">
                                        {% if story.country %}
                                        <span title="{{story.country.name}}" class="flag-icon flag-icon-{{story.country}}"></span>
                                        {% endif %}
                                        <span class="results-story-author small">{{story.user.first_name}}</span>
                                    </div>
                                </div>
                                <h5>
                                    <a href="{{story.get_absolute_url}}">Read more</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>