{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load toolstags %}
{% load partition_slice %}
{% load commontags %}
{% load compress %}

{% block head_statics %}
{% compress js %}
<script src="{% static "js/tools.js"%}"></script>
{% endcompress %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/tool.min.css" %}">
<link rel="stylesheet" href="{% static "css/category.min.css" %}">
{% endcompress %}
{% endblock %}

{% block head_title %}Work Area Overview - {% endblock %}

{% block main %}
<div class="hero-section hero-section--overview" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="hero-section__inner flex-vertical" style="background-image: url( {{ overview.cover_image.url }} )">
                    <div class="hero-section__title-container flex-vertical">
                        <h1 class="hero-section__title">WORK AREAS</h1>
                    </div>
                    <div class="hero-section__icon__container">
                        <svg class="hero-section__icon" viewbox="0 0 1 1">
                            <use href="{% static "icons/tools.svg" %}#tools"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="hero-section__filters filters">
                    <h1>Filters</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 col-xs-12 pull-right">
        {% if perms.tools %}{% if perms.tools.add_categorygroup %}
            <a class="btn btn-primary pull-right" href="{% url 'tools:add_categorygroup' %}">Add Work Area</a>
        {% endif %}{% endif %}
    </div>
    <div class="col-md-8 col-xs-12">
         {% if perms.tools %}{% if perms.tools.add_toolcategory %}
         <a href="{% url 'tools:add_category' %}"><i class="fa fa-plus"></i></a>
         {% endif %}{% endif %}
           {% if perms.tools %}{% if perms.tools.add_tool %}
           <a href="{% url 'tools:edit_overview' 'category' %}"><i class="fa fa-edit"></i></a>
           {% endif %}{% endif %}
    </div>


</div>

{% include "workareas/_workareas_overview.html" %}
{% endblock %}
